


#sliderbox {width: 659px; margin: 0; padding: 0;}
.coda-slider-wrapper {position: relative; width: 659px !important; margin: 0; float: left; padding: 0 0 0 1px;}

#sliderbox span.title {display: none; position: absolute; right: 40px; top: 30px; color: #27419c; font: bold 26px Trebuchet MS, Arial;
	text-transform: uppercase; text-shadow: 1px 1px 0 #fff; width: 300px; text-align: right;}
#sliderbox img {float: left; width: 657px; height: 278px; }
#sliderbox .txt {position: absolute; top: 110px; right: 40px; color: #625797; font: 14px Trebuchet MS, Arial; width: 180px;
	text-align: right;}
#sliderbox .txt p {display: block; margin: 0; clear: both;}
#sliderbox .txt em {font-style: normal; display: block; color: #fff; background: #bf00ff url(../images/grad2.jpg) right 0 repeat-y;
	float: right; margin: 0 0 10px; padding: 1px 7px 2px; border-radius: 3px; -moz-border-radius: 3px; position: relative; /*behavior: url(PIE.htc);*/
	-webkit-border-radius: 3px;}


.coda-slider-wrapper .coda-slider {background: #fff; width: 659px;}
.coda-slider-wrapper .coda-slider .panel {width: 659px;}
.coda-slider-wrapper .coda-slider .panel .panel-wrapper {padding: 0; }


/* Tab styles */
.coda-slider-wrapper .coda-nav {float: left; margin: 0; padding: 0; height: 68px; width: 659px;
	background: url(../images/sliderbot.jpg) bottom no-repeat;}
.coda-slider-wrapper .coda-nav .current {background: url(../images/hov.jpg) 0 0 no-repeat; color: #27419c;}
.coda-slider-wrapper .coda-nav li {font: 12px Tahoma; background: url(../images/sep.jpg) 0 18px no-repeat; float: left;}
.coda-slider-wrapper .coda-nav a {color: #494949; padding: 0; padding: 15px /*25*/24px 5px; width: 114px; display: block; min-height: 22px;
	text-decoration: none;}
.coda-slider-wrapper .coda-nav a:hover {text-decoration: underline;}
.coda-slider-wrapper .coda-nav li:nth-child(0n+1) {background: 0;}
.coda-slider-wrapper .coda-nav li:nth-child(0n+1) a {width: 136px;/*115px;*/}
.coda-slider-wrapper .coda-nav li:first-child {background: 0;}
.coda-slider-wrapper .coda-nav li:first-child a {width: 136px;/*115px;*/}



/* Arrow Styles */
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {position: absolute; top: 233px; z-index: 100;}
.coda-slider-wrapper .coda-nav-left {right: 86px;}
.coda-slider-wrapper .coda-nav-right {right: 53px;}
.coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {display: block; width: 13px; height: 21px;
	text-indent: -9999px;}
.coda-slider-wrapper .coda-nav-left a {background: url(../images/arrows.png) 0 0 no-repeat;}
.coda-slider-wrapper .coda-nav-right a {background: url(../images/arrows.png) -13px 0 no-repeat;}



.coda-slider-wrapper .loading {
	height: 100%;
	padding: 20px;
	text-align: center;
}




.coda-slider-wrapper {

	float: left;
	overflow: hidden;
	width: 652px;
}

.coda-slider-wrapper .coda-slider {

	float: left;
	overflow: hidden;
	position: relative; border: 1px solid #d2d3f5; margin: 0 0 0 0px; padding: 0; width: 657px;
	/*behavior: url(PIE.htc);*/
	border-radius: 7px 0 0 0; -moz-border-radius: 7px 0 0 0; -webkit-border-radius: 7px 0 0 0;
}

.coda-slider-wrapper .coda-slider .panel-container {

	position: relative;margin: 0; padding: 0; width: 657px;
}

.coda-slider-wrapper .coda-slider .panel-container .panel {

	display: block;
	float: left;
	position: relative;
	float: left;margin: 0; padding: 0; width: 659px;

}
