/**
 * CSS File for Setrais Plugin
 *
 **/
/*< Begin Helper styles */
.clear {
    clear: both; 
}

.m-10 {margin: 10px !important;}
.m-8 {margin: 8px !important;}
.m-5 {margin: 5px !important;}
.m-0 {margin: 0 !important;}
.m-l1-r1 {margin: 0 1px !important; }
.m-t0 { margin-top: 0px !important; }
.m-t10 { margin-top: 10px !important; }
.m-t16 { margin-top: 16px !important; }
/*.m-t380 { margin-top: 370px !important; }*/
.m-b3 { margin-bottom: 3px !important; }
.m-b4 { margin-bottom: 4px !important; }
.m-b5 { margin-bottom: 5px !important; }
.m-b6 { margin-bottom: 6px !important; }
.m-b8 { margin-bottom: 8px !important; }
.m-b10 { margin-bottom: 10px !important; }
.m-b12 { margin-bottom: 12px !important; }
.m-b14 { margin-bottom: 14px !important; }
.m-b18 { margin-bottom: 18px !important; }
.m-b20 { margin-bottom: 20px !important; }
.m-b0 { margin-bottom: 0px !important; }
.m-r0 { margin-right: 0px !important;}
.m-r14 { margin-right: 14px !important;}
.m-l14 { margin-left: 14px !important;}
.m-r12 { margin-right: 12px !important;}
.m-r20 { margin-right: 20px !important;}
.m-r40 { margin-right: 40px !important;}
.m-l12 { margin-left: 12px !important;}
.m-r11 { margin-right: 11px !important;}
.m-l11 { margin-left: 11px !important;}
.m-h1 { margin-right: 1px !important;margin-left: 1px !important;}

.mh-438 { min-height: 438px !important;}
.mh-446 { min-height: 446px !important;}

.back-none { background: none !important; }

.pos-r { position: relative !important; }
.pos-a { position: absolute !important; }

.hidden { display:none !important;}

.h-5 {height: 5px !important;}
.h-20 {height: 20px !important;}
.h-21 {height: 21px !important;}
.h-24 {height: 24px !important;}
.h-36 {height: 36px !important;}
.h-34 {height: 34px !important;}
.h-32 {height: 32px !important;}
.h-47 {height: 47px !important;}
.h-auto {height: auto !important;}

.fs-22  { font-size:22px; }
.fs-18  { font-size:16px; }
.fs-16  { font-size:16px; }
.fs-15  { font-size:15px !important; }
.fs-14  { font-size:14px; }
.fs-13  { font-size:13px; }
.fs-12  { font-size:12px; }
.fs-11  { font-size:11px; }
.fs-10  { font-size:10px; }

.c-blue { color:#0099ff; }
.c-333 { color:#333 !important; }
.c-fill { color: #475076 !important; }
.c-black { color: #111111 !important; }
.c-blur { color: #069cd3 !important; }
.c-orang { color: #FF770D/*ff860c*/ !important; }

.normal { font-weight: normal !important; }

.t3 { top: 3px !important; }

.p-0 { padding: 0px !important; }
.p-1 { padding: 1px !important; }
.p-2 { padding: 2px !important; }
.p-3 { padding: 3px !important; }
.p-4 { padding: 4px !important; }
.p-5 { padding: 5px !important; }
.p-8 { padding: 8px !important; }
.p-10 { padding: 10px !important; }
.p-t0 { padding-top:0px !important; }
.p-t1 { padding-top:1px !important; }
.p-t2 { padding-top:2px !important; }
.p-t3 { padding-top:3px !important; }
.p-t5 { padding-top:5px !important; }
.p-t7 { padding-top:7px !important; }
.p-b10 { padding-bottom:10px !important; }
.p-t16 { padding-top: 16px !important; }
.p-b16 { padding-bottom: 16px !important; }
.p-b21 { padding-bottom:21px !important; }
.p-b0 { padding-bottom: 0px !important; }
.p-b1 { padding-bottom: 1px !important; }
.p-l0 { padding-left: 0px !important; }
.p-l4 { padding-left: 4px !important; }
.p-l5 { padding-left: 5px !important; }
.p-l10 { padding-left: 10px !important; }
.p-l12 { padding-left: 12px !important; }
.p-l13 { padding-left: 13px !important; }
.p-l14 { padding-left: 14px !important; }
.p-l16 { padding-left: 16px !important; }
.p-r0 { padding-right: 0px !important; }
.p-r4 { padding-right: 4px !important; }
.p-r10 { padding-right: 10px !important; }
.p-r12 { padding-right: 12px !important; }
.p-r13 { padding-right: 13px !important; }
.p-r14 { padding-right: 14px !important; }
.p-r20 { padding-right: 20px !important; }
.p-r40 { padding-right: 40px !important; }
.p-l42-r43 { padding-right: 42px !important; padding-left: 43px !important; }
.p-h1 { padding-right: 1px !important;padding-left: 1px !important;}

.pd-10 { line-height:10px; height:10px; display:inline}

.min-h-none {min-height: inherit !important;}

.b-156 { bottom: 156px !important; }
.b-169 { bottom: 169px !important; }
.b-161 { bottom: 161px !important; }
.b-172 { bottom: 172px !important; }
.b-183 { bottom: 183px !important; }
.b-190 { bottom: 190px !important; }
.b-198 { bottom: 198px !important; }
.b-203 { bottom: 203px !important; }

.l-591m { left: -591px !important; }
.l-603m { left: -603px !important; }
.l-615m { left: -615px !important; }
.l-670m { left: -670px !important; }
.l-697m { left: -697px !important; }

.w-50p { width: 50% !important;}
.w-40 { width: 40px !important;}
.w-54  { width: 54px !important;}
.w-108 { width: 108px !important;}
.w-112 { width: 112px !important;}
.w-129 { width: 129px; }
.w-180 { width: 180px; }
.w-248 { width: 248px; }
.w-278 { width: 278px; }
.w-281 { width: 281px; }
.w-282 { width: 282px; }
.w-310 { width: 310px; }
.w-396 { width: 396px; }
.w-454 { width: 454px; }
.w-496 { width: 496px; }
.w-626 { width: 626px; }
.w-616 { width: 616px; }
.w-612 { width: 612px; }
.w-630 { width: 630px; }
.w-640 { width: 640px; }
.w-660 { width: 660px; }
.w-auto { width: auto !important;}

.valign-m { vertical-align: middle !important; }
.valign-t { vertical-align: top !important; }
.valign-b { vertical-align: bottom !important; }

.halign-c { text-align: center !important; }
.halign-l { text-align: left !important }
.halign-r { text-align: right !important; }
.halign-j { text-align: justify !important; }

.radius-3 {     
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;     
}

.radius-5 {     
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;     
}

.radius-5-0 {     
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
}

.radius-0-5 {
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px; 
}

.radius-8 {     
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;     
}

.radius-10 {     
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;     
}

.fl { float:left; }
.fr { float:right; }

.tahoma { font-family: Tahoma, Arial, Verdana, sans-serif }
.system { font-family: System, Tahoma, Arial, Verdana, sans-serif }
.inline {
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: middle; 
}
.lh-normal {line-height: normal }
.lh-14 {line-height: 14px !important }
.lh-20 {line-height: 20px !important }
.lh-18 {line-height: 18px !important }
.lh-24 {line-height: 24px !important }
.lh-30 {line-height: 30px !important }

.c-red { color: red; }
.c-blue { color: #E5F1F4; }
.c-333 { color: #333; }
.c-bled { color: #234386; }
.c-fiolet { color: lavender;}
.c-brown { color: #785e5e;}
.c-white { color: white;}
.c-light-grey { color: #677382;}
.c-fiolet { color:#584c90;}
.c-green-grey { color: #9e9f81;}
.c-light-ellow { color: #fafbea;}

.bg-grey { background-color: #E2E2E2;}
.bg-write { background-color: #FFF;}
.bg-blue { background-color: #E5F1F4;}
.bg-fiolet { background-color: lavender;}
.bg-brown { background-color: #785e5e;}
.bg-orang { background-color: /*#FF770D*/#ff860c !important;}
.bg-light-blue { background-color: #e6edf6; }
.bg-fiolet { background-color: #b892e6; }
.bg-light-ellow { background-color: #fafbea;}
.bg-light-grey { background-color: #ededed;}


.fbg-blue {
    background: url("/images/bg-blue.png") repeat scroll left top transparent !important;  
}

.fbg-orang {
    background: url("/images/bg-orang.png") repeat scroll left top transparent !important;  
}

.fbg-orang {
    background: url("/images/bg-cor-orange-norma.png") repeat scroll center top transparent !important;  
}

.fbg-orang-t {
    background: url("/images/bg-orang-t.png") repeat scroll left top transparent !important;  
}

.fbg-red {
    background: url("/images/bg-red.png") repeat scroll left top transparent !important;  
}

.fbg-green-s {
    background: url("/images/bg-green-s.png") repeat scroll left top transparent !important;  
}

.fbg-grey {
    background: url("/images/bg-grey.png") repeat scroll left top transparent !important;  
}

.fbg-yelow {
    background: url("/images/bg-yelow.png") repeat scroll left top transparent !important;  
}

.fbg-city {
    background: url("/images/bg-city-cor.png") no-repeat scroll center 26px rgba(0, 0, 0, 0) !important;  
}

.fbg-svet {
    background: url("/images/bg-svet.png") repeat-y scroll 0px top rgba(0, 0, 0, 0) !important;  
}

.fbg-svet-top {
    background: url("/images/bg-svet-top-flakon-norma.png") no-repeat scroll center top rgba(0, 0, 0, 0) !important;
    height: 220px;
    left: -250px;
    margin-left: 50%;
    top: 14px;
    width: 500px;
    z-index: 10000;
}

.fbg-lsvet {
    background: url("/images/bg-lsvet.png") repeat-y scroll left top rgba(0, 0, 0, 0) !important;  
}
.fbg-rsvet {
    background: url("/images/bg-rsvet.png") repeat-y scroll right top rgba(0, 0, 0, 0) !important;  
}

.fbg-lsvet {
    background: url("/images/bg-lsvet-new.png") repeat-y scroll left top rgba(0, 0, 0, 0) !important;  
}
.fbg-rsvet {
    background: url("/images/bg-rsvet-new.png") repeat-y scroll right top rgba(0, 0, 0, 0) !important;  
}
.fbg-line-top {
    height: 59px;
    width: 100%;
    top:0px;
    z-index: 10000;
    background: url("/images/bg-line-top-normas.png") repeat-x scroll left top rgba(0, 0, 0, 0) !important;    
}
.right { text-align: right !important;}
.left { text-align: left !important;}
.justify { text-align: justify !important;}
.center { text-align: center !important;}

.shadow {
    -webkit-box-shadow: 0px 1px 3px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px 0px #4a4a4a;
    box-shadow: 0px 1px 3px 0px #4a4a4a;        
}
.ff-tahoma { font-family: Tahoma, Arial, Verdana, sans-serif; }
.ff-calibri { font-family: Calibri, Verdana, sans-serif; }
.ff-Arial { font-family: Arial, Verdana, sans-serif; }

.bold { font-weight: bold !important; }

.fleft {float:left;}
.fright {float:right;}
.fnone {float:none;}

.tr-upper {
    text-transform: uppercase;
}
.tr-lower {
    text-transform: lowercase;
}
.tr-none {
    text-transform: none;
}
/*p {
    font-size: 12px;
    font-family: Tahoma, Arail, sans-serif;
}*/
/* Style setrais */

/* Beg style question */
.rtvs .info 
{
    margin:40px 5px;
    font-size:12px; 
    font-family:Tahome,Arial,sans-serif;
    padding:20px 24px;
}

.rtvs .info .list 
{
    margin:6px 2px;
    padding-left:2px;
}

.rtvs .form.question 
{
    margin-top:22px;
}
.rtvs .form.question .quest-text 
{
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #d5dde8; 
    font-size: 16px;
    height: 28px;
    vertical-align: middle;
    width: 434px;
}
.rtvs .form.question .quest-sub 
{
    margin-left: 20px; 
    border:none;
    font-size: 15px;
    height: 32px;
    vertical-align: middle;
    width: 122px;
}

.rtvs #tabs-question.list-view.question {}

.rtvs #tabs-question .tabs-menu {
    /*line-height: 34px;
    margin: auto 27px;
    vertical-align: middle;*/
}

.rtvs #tabs-question ul.tabs-menu {
    background-color: #FFFFFF;
    font-family: Tahome,Arial,sans-serif;
    font-size: 16px;
    line-height: 34px;
    padding: 0 27px;
    vertical-align: middle;  
}

.rtvs #tabs-question ul.tabs-menu li {
    border: 1px solid #f2eac3;    
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-size: 13.33px;
    line-height: 28px;
    height:28px;
    padding: 0 18px;
    vertical-align: middle; 
    margin-top: 5px;
    color: #afafaf;    

}

.rtvs #tabs-question ul.tabs-menu li.ui-state-active {
    background-color: #FAFBEA;
    border: 1px solid #f2eac3;    
    font-family: Tahoma,Trebuchet,Arial,sans-serif;        
    font-size: 14.66px;
    padding: 0 18px;
    line-height: 34px;
    height:34px;
    margin-left:4px;    
    vertical-align: middle; 
    text-align: center;
    color: #fff;
    margin-top:auto;
    border-bottom: none;         
}

.rtvs #tabs-question ul.tabs-menu li a {
    text-decoration: none !important;
}

.rtvs #tabs-question ul.tabs-menu li a {
    color: #afafaf;
}

.rtvs #tabs-question ul.tabs-menu li.ui-state-active a {
    color: #9e9f81;
}



.rtvs #tabs-question .tab-pay-quest,
.rtvs #tabs-question .tab-nopay-quest
{
    padding: 25px 25px 0px 30px;  
    border: 1px solid #f2eac3;
}
.rtvs #tabs-question .tab-pay-quest .item-quest,
/*.rtvs #tabs-question .notab-pay-quest .item-quest,*/
.rtvs div#tabs-question.list-view div#ui-tabs-2.tab-nopay-quest div#yw1.list-view div.items .item-quest
{
    margin-bottom: 24px;    
}

.rtvs #tabs-question .tab-pay-quest .item-quest .pic-quest,
.rtvs #tabs-question .tab-nopay-quest .item-quest .pic-quest
{
    margin-right:10px;height:80px;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .pic-quest .info-user,
.rtvs #tabs-question .tab-nopay-quest .item-quest .pic-quest .info-user
{
    display:inline-block;height:58px;width:58px;overflow:hidden;text-align: center;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest,
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest 
{
    width:606px;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest h3,
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest h3
{
    line-height:10px;
    vertical-align:top;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest h3 .title,
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest h3 .title
{
    font-size:14px;
    color:#663399;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest .desc-quest,
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest .desc-quest
{
    margin:10px 0;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest .icons-quest, 
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest .icons-quest 
{
    padding-bottom:16px;
    padding-left: 68px;
    background: url('/images/btline-quest.png') repeat-x left bottom transparent;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest .date-quest, 
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest .date-quest 
{
    padding-left:20px;
    padding-right:20px;
    background: url('/images/icon-date.png') no-repeat left center transparent;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest .maps-taro-quest, 
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest .maps-taro-quest 
{
    padding-left:20px;
    padding-right:20px;
    background: url('/images/icon-cart-taro.png') no-repeat left center transparent;
}

.rtvs #tabs-question .tab-pay-quest .item-quest .info-quest .answers-quest, 
.rtvs #tabs-question .tab-nopay-quest .item-quest .info-quest .answers-quest 
{
    padding-left:20px;
    padding-right:20px;
    background: url('/images/icon-answer.png') no-repeat left center transparent;
}

/* Style view question */
#question .form {
    padding:20px 20px 12px 20px;    
    text-align: center;
}

#question form{
    margin:0;padding: 0;    
}
#question .form .button {
    width:238px;height:47px;border:none;text-transform: uppercase;  
    font-size: 13px;
    font-family: Trebuchet,Tahome,Arial,sans-serif; 
    font-weight:bold;        

    /*box-shadow: 3px 4px 4px 4px #B892E6;*/     
}
#question .form .button.ask {    
    background: url('/images/button-ask-answer-online.png') no-repeat left center transparent;
    margin-right: 52px;
    color: #fff;    
}
.new-question a input{
    cursor: pointer;
}
#question .form .button.view {     
    background: url('/images/button-view-quest.png') no-repeat left center transparent;
    color: #fdffdc;
}
#question .about {
    margin-top:24px;  
    padding: 27px 25px; 
}

#question .about .item {    
    margin-bottom: 24px;  
    background: url('/images/btline-quest.png') repeat-x left bottom transparent;
}

#question .about .item .pic {
    margin-right:10px;
    height:80px;
    display: inline-block;    
    vertical-align: top;
}
#question .about .item .pic .avatar-user {
    display:inline-block;height:58px;width:58px;overflow:hidden;text-align: center;
}
#question .about .item .info {
    /*width:606px;*/
    display: inline-block;
    width: 536px;
}
#question .about .item .info h3 {
    line-height:10px;
    vertical-align:top;
}    
#question .about .item .info .title {
    font-size:14px;
    color:#663399;
    line-height: 15px;
}
#question .about .item .info .desc {
    margin:10px 0;
}
#question .about .item .info .user {     
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-size: 12px;
    line-height: 28px;
    height:28px;
    vertical-align: middle; 
    margin-top: 24px;
    padding-bottom:16px;
    color:#b1b1b1;
}
#question .about .item .info .user .name {
    padding-left:20px;
    padding-right:20px;
}
#question .about .item .info .user .date {
    padding-left:20px;
    padding-right:20px;
    /*background: url('/images/icon-date.png') no-repeat left center transparent;*/
}

/* Style for answers */
#quest-answers
{
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    margin-top:31px;
}
#quest-answers h3 {
    color:#9e9f81;    
    font-size: 18px;
    line-height: 52px;
    height:52px;     
    font-weight:bold;
    vertical-align: middle;     
    text-transform: uppercase;    
    width:100%;
    margin:0 24px;
}
#quest-answers h3 span.title {
    display: inline-block;
    text-align: left;
    /*width: 200px;*/   
}
#quest-answers h3 span.section {     
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    text-transform: none;
    width: 394px;
}

#quest-answers .item.answer {
    background: url("/images/btline-quest.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    margin-bottom: 24px;
}

#quest-answers .item.answer{
    padding: 22px 24px;  
    background-color: #fffcf4;
    border-radius: 10px;
}
#quest-answers .item.answer .pic.expert {
    display: inline-block;
    height: 80px;
    margin-right: 10px;
    vertical-align: top;    
}
#quest-answers .item.answer .pic.expert .link.expert {
}
#quest-answers .item.answer .info.expert {
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-weight: normal;
}
#quest-answers .item.answer .info.expert .name{
}
#quest-answers .item.answer .info.expert .name .link.expert{
    color:#585858;
    text-decoration: none;
    font-size:18px;    
}
#quest-answers .item.answer .info.expert .about{
    display: inline-block;
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-size: 12px;
    margin: 4px 0 0;
    padding: 0;
    vertical-align: middle;
}

#quest-answers .item.answer .info.expert .about .status{
    display: inline-block;
    vertical-align: middle;
    width: 510px;
}
#quest-answers .item.answer .info.expert .about .status .short{
    vertical-align: middle;
}
#quest-answers .item.answer .info.expert .about .status .short .prof{}
#quest-answers .item.answer .info.expert .about .status .short .stat{ margin-left:14px;color:#86ae0b; }
#quest-answers .item.answer .info.expert .about .status .ratting{
    margin-top:10px;  
}
#quest-answers .item.answer .info.expert .about .status .ratting .rat{
    width: 11px;
    height: 9px;
    display:inline-block;
    margin-right: 1px;
    background: url('/images/rat.png') no-repeat left center transparent;    
}

#quest-answers .item.answer .info.expert .about .sub { 
    display: inline-block;
    text-align: right;
}
#quest-answers .item.answer .info.expert .about .sub.form{margin:0;padding:0;}
#quest-answers .item.answer .info.expert .about .sub.form form{margin:0;padding:0}
#quest-answers .item.answer .info.expert .about .sub.form form input.button.write{
    background: url('/images/bgr-green.png') repeat-x left center transparent;  
    /*background: url('/images/bgr-green-button.png') repeat-x left center transparent;  */
    border-radius: 5px;
    height:31px;
    width:106px;
    border:none;
    color: #fff;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
}

#quest-answers .item.answer .info.expert .desc.answer{
    display: inline-block;
    width: 530px;
    font-size:13px;
    font-family: Tahome, Arial, sans-serif;
    color: #6a6a6a;
}

/* End style view question */

/* Style for best expert for section */
#best-experts
{
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    margin-top:27px;
}
#best-experts h3 {
    color:#584c90;    
    font-size: 15px;
    /*line-height: 52px;
    height:52px;*/     
    font-weight:bold;
    vertical-align: middle;     
    text-transform: uppercase;  
    font-family: Tahome, Arial, sans-serif;
    /*width:100%;*/
    margin:3px 16px 10px;
}

#best-experts .item.answer {
    background: url("/images/btline-quest.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    margin-bottom: 24px;
}

#best-experts .item.answer{
    padding: 18px 10px;  
    /*background-color: #fffcf4;
    border-radius: 10px;*/
}
#best-experts .item.answer .pic.expert {
    display: inline-block;
    height: 80px;
    margin-right: 10px;
    vertical-align: top;    
}
#best-experts .item.answer .pic.expert .link.expert {
}
#best-experts .item.answer .info.expert {
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-weight: normal;
}
#quest-answers .item.answer .info.expert .name{
}
#best-experts .item.answer .info.expert .name .link.expert{
    color:#585858;
    text-decoration: none;
    font-size:18px;    
}
#best-experts .item.answer .info.expert .about{
    display: inline-block;
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    font-size: 12px;
    margin: 4px 0 0;
    padding: 0;
    vertical-align: middle;
}

#best-experts .item.answer .info.expert .about .status{
    display: inline-block;
    vertical-align: middle;
    width: 194px;
}
#best-experts .item.answer .info.expert .about .status .short{
    vertical-align: middle;
}
#best-experts .item.answer .info.expert .about .status .short .prof {
    display: inline-block;
    /*width: 140px;*/
}
#best-experts .item.answer .info.expert .about .status .short .stat{ margin-left:14px;color:#86ae0b; }
#best-experts .item.answer .info.expert .about .status .ratting{
    margin-top:8px;  
}

#best-experts .item.answer .info.expert .about .status .ratting .rat{
    width: 11px;
    height: 9px;
    display:inline-block;
    margin-right: 1px;
    background: url('/images/rat.png') no-repeat left center transparent;    
}

#best-experts .item.answer .info.expert .about .status .ratting .cnt{
    display:inline-block;
    margin-right: 1px;    
}

#best-experts .item.answer .info.expert .about .status .ratting .chat {
    width: 75px;
    height: 19px;   
    display: inline-block;
    margin-left: 6px;
}
#best-experts .item.answer .info.expert .about .status .ratting .chat .button.chat{
    width: 100%;
    height: 100%;
    background: url('/images/bg-button-online-chat.png') no-repeat left center transparent;
    border:none;
    /*border-radius: 3px;
    background-color: #86b4e3;*/
    font-size:11px;
    font-family: Tahome, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;

}
/* #style the best expert */

/* Style for new answer the experts for section */
#new-answers
{
    font-family: Trebuchet,Tahome,Arial,sans-serif;
    margin-top:22px;
}
#new-answers h3 {
    color:#b7bb78;    
    font-size: 15px;
    /*line-height: 52px;
    height:52px;*/     
    font-weight:bold;
    vertical-align: middle;     
    text-transform: uppercase;  
    font-family: Tahome, Arial, sans-serif;
    /*width:100%;*/
    margin:13px 16px 12px;
}

#new-answers .item.answer {
    background: url("/images/btline-quest.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    /*margin-bottom: 24px;*/
}


#new-answers .item.answer{
    padding: 23px 10px; 
    /*margin-left: 10px;*/
    /*background-color: #fffcf4;
    border-radius: 10px;*/
}

#new-answers .item.answer .title {
    display: inline-block;
    vertical-align: top; 
    font-size:13.33px;
    font-weight:bold; 
    color: #584c90;
    text-align: left;
}

#new-answers .item.answer .title a {
    display: inline-block;
    vertical-align: top; 
    color: #584c90;
    text-align: left;
    text-decoration: none;    
}

#new-answers .item.answer .title a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #584c90;
}

#new-answers .item.answer .anons {
    margin-top: 6px;
    font-size:13.33px;
    font-weight:bold; 
    color: #606060;
    text-align: left;
}

#new-answers .item.answer .date {    
    font-weight: normal;
    font-size:12px;
    color:#c8c8c8;
    font-weight:bold; 
    text-align: left;
}
/* #style new answer the expert for section*/

/* End style view question */


/* Style block */
.rtvs-block  {
    border-radius: 8px;
    box-shadow: 0 0 3px 0 #B892E6;
    font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
    /*    margin-top: 40px;*/
    width: 286px;
}
.rtvs-block .title-block {
    color: #FFFFFF;
    display: inline-block;
    font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 41px;
    line-height: 41px;
    margin: 5px 22px;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;  
    width:288px;
}

.rtvs-block .section  {
    background-color: #FCF7FF;
    border-radius: 0 0 8px 8px;
    margin: 0;
    /*min-height: 720px;*/
    padding: 14px 14px 18px;    
    /*margin-bottom: 10px;*/    
}

.section .item {    
    /*padding:10px 5px;*/
    background: url('/images/btline-quest.png') repeat-x left bottom transparent;
    color: #606060;
    font-size: 14px;     
}

.section .item:hover {
    background-color: #f7def8;
}

.section .item a.link {
    color: #606060;
    display: block;
    height: 100%;
    padding: 10px 5px;
    text-decoration: none;
    width: 100%;
}

.section .item a.link:link,
.section .item a.link:visited {
    text-decoration: none;
    color:#606060;
}

.section .item a.link:hover {
    text-decoration: none;    
    color: #000;  
}

.section .item a.link selected {
    text-decoration: none;    
    color: #b892e6;    
}

/* #Style block */

/* Style action  block */
#block-action.action {    
    background: url("/images/bg-action.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    display: inline-block;
    height: 163px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 294px;
}

#block-action.action .title {    
    color: #8356B9;
    display: inline-block;
    font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 25px;
    left: -97px;
    margin-left: 50%;
    margin-top: 50%;
    position: absolute;
    text-align: center;
    top: -84px;
    vertical-align: middle;
    width: 200px;
    /*text-shadow: 1px 1px 2px #C9C8C6, 0 0 6px #DDDDDD;*/
    text-shadow: 1px 2px 1px #FFF;
}

/* #Style action block */


/* Style ask expert question-answer */
#ask-expert {}

#ask-expert .title {
    color: #584C90;
    font-family: Tahomа,Arial,sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

#ask-expert .info {
    font-size:13px;
    font-family:Tahomе, Arial, sans-serif;
    color:#979797;
    margin-top:18px;
    line-height: 20px;
}

#ask-expert .title {
    color: #584C90;
    font-family: Tahomа,Arial,sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

#ask-expert .head {
    padding-bottom: 12px;
    margin-bottom: 12px;
    /*background: url('/images/btline-quest.png') repeat-x left bottom transparent;*/
}
#ask-expert .head .title {
    display:inline-block;
    vertical-align:middle;
    text-align:left;
    width:240px;
    line-height: 31px;
    height:31px;
}
#ask-expert .title.inline.left.w-248{
    width: 340px;
}

#ask-expert .form form .head .area {
    color:#a1a1a1;
    font-size:13px;
    font-family: Tahome, Arial, sans-serif; 
    font-weight:normal; 
    line-height: 31px;
    height:31px;
    vertical-align: middle; 
    margin-right:10px;
}

#ask-expert .form form .head .area select {
    background: url("/images/gr-select-area.png") repeat-x scroll left top rgba(0, 0, 0, 0);
    border: 1px solid #C9C8CF;
    border-radius: 3px;
    color: #949494;
    font-family: Tahome,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 21px;
    line-height: 21px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 290px;
}

#ask-expert .form form .head .area select option {
}

#ask-expert .row {
    margin-top:20px;
    margin-left:7px;
}

#ask-expert .row label { 
    width:78px;
    font-family:Tahome, Arial, sans-serif; 
    font-weight: normal;
    color:#a1a1a1;
    text-align:right;             
    display: inline-block;
    font-size:13px;
}
#ask-expert .row input {
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    display:inline-block;
    border: 1px solid #C9C8CF;
    border-radius: 3px;
    color: #949494;
    font-family: Tahome,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 0 3px;
    width:554px;    
}

#ask-expert .form form .row input.title {
    width:552px;/*522px;*/  
    text-transform: none;
}

#ask-expert .form form .row textarea {    
    vertical-align: middle;
    display:inline-block;
    border: 1px solid #C9C8CF;
    border-radius: 3px;
    color: #949494;
    font-family: Tahome,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 2px 3px;
    margin:0;
}

#ask-expert .form form .row textarea.text {
    width: 552px;/*522px;*/ 
    text-align: left;
    height:140px;
    float:none;
}

#ask-expert .form form .row input.upload-file {
    border:none;
    background: none;
}

#ask-expert .row.button input {
    border:none;    
    /*margin-left: 78px;*/
    background: url("/images/button-ask-question.png") no-repeat left top transparent;
    height: 37px;
    width: 159px;
    color: #fff;
    text-transform: uppercase;
    font-size:13px;
    font-family: Tahome, Arial, sans-serif;
    font-weight:normal;
}

#ask-expert .row .column {
    float:left;width: 322px;font-size:13px;font-family:Tahome, Arial, sans-serif;color:#919191;
}

#ask-expert .row .column .title {    
    border: medium none;
    border-radius:3px;
    display: inline-block;
    padding: 7px 10px;
    vertical-align: middle;
    margin-bottom:10px;
}

#ask-expert .row .column.pay .title {
    background-color: #C2CCDA;    
}

#ask-expert .row .column.nopay .title {
    background-color: #e5e6b0;
    margin-left: 5px;    
}

#ask-expert .row .column label {    
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    width: 264px;
}

#ask-expert .row .column.pay .title label .name {
    color: #fff;
}

#ask-expert .row .column.nopay .title label .name {    
    color: #9e9241;
}

#ask-expert .row .column label .price {    
    color: #584c90;
    /*display: inline-block;*/
    font-size: 18px;
    text-align: right;
    vertical-align: top;
    text-transform: none;
}

#ask-expert .row .column label .name {    
    display: inline-block;
    width: 190px;
}

#ask-expert .row .column input {
    width:26px;
    height:26px;   
    display:inline-block;    
    margin:0;
    vertical-align: top;
}
#ask-expert .row .column.pay input {
    background: url("/images/radio-button-on.png") no-repeat center center transparent;
}
#ask-expert .row .column.nopay input {
    background: url("/images/radio-button-off.png") no-repeat center center transparent;
}

#ask-expert .row .column .info {    
    height:160px;
    padding: 40px 25px;
}

#ask-expert .row .column.pay .info {
    border-top: 1px solid #c2ccda;
    border-left: 1px solid #c2ccda;
    border-bottom: 1px solid #c2ccda;
    border-radius: 3px 0 0 3px;
    padding-right:5px;
    background: url("/images/hline-ask-question.png") no-repeat right 8px transparent;
}

#ask-expert .row .column.nopay .info {
    border-top: 1px solid #c2ccda;
    border-right: 1px solid #c2ccda;
    border-bottom: 1px solid #c2ccda;
    border-radius: 0 3px 3px 0px;
    padding-left:24px;
}


#ask-expert .row .column .info .item {
    background: url("/images/check-item.png") no-repeat left 6px transparent;
}
/*#ask-expert .form form .row .column.pay .info .item {
    background: url("/images/check-item.png") no-repeat left 6px transparent;
}

#ask-expert .form form .row .column.nopay .info .item {
    background: url("/images/check-item-nopay.png") no-repeat left 6px transparent;
}*/

#ask-expert .row .column .info .item.active {
    background: url("/images/check-item.png") no-repeat left 6px transparent;
}

#ask-expert .row .column .info .item {
    background: url("/images/check-item-nopay.png") no-repeat left 6px transparent;
}

#ask-expert .row .column .info .item .title {
    padding: 0 10px 0 30px;
    color: #505050;
    font-size: 15px;
    font-family: Tahome, Arial, sans-serif;    
    text-transform: uppercase;
    background: none;
    border-radius: 0px;
    margin:0 ;
}

#ask-expert .row .column .info .item .desc {   
    margin: 14px 10px 24px 30px;

}
#exp-answer .required {
    float: left;
}
#exp-answer .required span {
    float: right;
}
#Answer_content, #Question_content {
    float: right;
    height: 200px;
    max-width: 552px;
    min-height: 140px;
    min-width: 552px;
    width: 80%;
}
.exp-ans {
    float: right;
    margin-top: 10px;
}
.exp-ans {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 77px;
}
// Кнопки голосования
.question .body .right {
    float: right;
    padding-bottom: 10px;
    width: 100px;
}
.vote_control {
    margin-right: 1px;
    margin-top: -5px;
}
.vote_control .button {
    background: -moz-linear-gradient(center top , #BAE2F9, #A7CFE6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    margin-top: 8px;
    width: 20px;
}
.vote_control .votes {
    color: #79A4C4;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}
.vote_control .button {
    background: -moz-linear-gradient(center top , #BAE2F9, #A7CFE6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    margin-top: 13px;
    width: 20px;
}
.vote_control .button .vote_up {
    background-position: 5px -80px;
    height: 20px;
    width: 20px;
}
.s1 {
    background-image: url("/images/vote/sprites-no.png");
    background-repeat: no-repeat;
}
.vote_control .button .vote_down {
    background-position: 5px -100px;
    height: 20px;
    width: 20px;
}
.vote_control .button:hover {
    background: -moz-linear-gradient(center top , #74CEFD, #53ACDB) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}
#raiting {position:relative; height:16px; cursor:pointer; width:83px; float:left} /* Блок рейтинга*/
#raiting_blank, #raiting_votes, #raiting_hover {height:16px; position:absolute}
#raiting_blank { background:url(/images/vote/ratings.png); width:83px; } /* "Чистые" звездочки */
#raiting_votes {background:url(/images/vote/ratings.png) 0 -16px} /*  Закрашенные звездочки */ 
#raiting_hover {background:url(/images/vote/ratings.png) 0 -32px; display:none}  /*  звездочки при голосовании */ 
.raiting_info {margin-left:90px}
.status > div.raiting_star {
    height: 16px;
    position: relative;
}
.raiting_info h5 {
    position: absolute;
    top: 3px;
}
// End of Кнопки голосования
#question form#exp-answer label.required span.required{
    display: none;
}
form#exp-answer label.required{
    width: 65px;
}
#question .about .item .info .photo{
    margin: 40px 0 10px 0;
}
form.new-question a{
    text-decoration: none;
}
.vote_scale_raiting_info > h5 {
    margin-left: 90px;
    text-align: left;
}
.vote_scale_raiting_info {
    float: left;
}
.voting_scale_static, .voting_scale {
    margin-left: 110px;
}
.raiting_star_vote_scale {
    margin-left: 420px;
}
.exp-answer-content{
    margin: 0;
} 
.title.fs-16.c-fiolet {
    line-height: 15px;
}
/* #Style question-answer */
.customer_card_container {
    height: 300px;
    width: 500px;
}
/* User cart */
.cc-photo {
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0 10px;
}
.cc-photo > img {
    margin-top: 30px !important;
}
.cc-data-container {
    display: inline-block;
    height: 100%;
    width: 400px;
}
.cc-data-title {
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.cc-data-body > div {
    height: 30px;
}
.cc-data-body {
    padding-left: 30px;
}
.cc-data-body > div > span {
    border-bottom: 1px dotted;
    display: inline-block;
    width: 150px;
}
.item-quest {
    margin-bottom: 24px;
}
/* End of user cart*/

.chat-online-button-best-experts {
    background-color: #79B7DC;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
}
.chat-online-button-best-experts:hover {
    background-color: yellowgreen;
}
.chat-online-button-best-experts.offline:hover{
     background-color: rgba(220, 86, 169, 0.88);
}