/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: url(../images/checkbox.png) 0 0 no-repeat;
	display: inline-block;
	float: left;
	margin: 0 6px 0 0;
	width: 23px; height: 24px;
}

.ez-radio {
	background: url(../images/radio.png) 0 0 no-repeat;
	display: inline-block;
	float: left; margin: 0 6px 0 0;
	width: 27px; height: 27px;
}
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; }
.ez-checked { background-position: -23px 0; }
.ez-selected { background-position: -27px 0; }


