/* Selects */
.selectedTxt {
    float: left;
    zoom: 1;
    z-index: 10;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.newListSelected {float: left; outline: none;}
.SSContainerDivWrapper{
    list-style: none;
    padding: 2px !important;
    margin: 0 0 0 0 !important;
    position: absolute;
    z-index: 500;
    top: 0;
    font: 12px Arial;
    text-align: left;
    background:#fff;
    border:1px solid #aaa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 2000;
}
.SSContainerDivWrapper li {padding: 0 !important; margin: 0 !important; background: 0 !important;}
.SSContainerDivWrapper li a{
    color: #858585;
    display: block;
    line-height: normal;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    padding: 2px 5px;
}
.SSContainerDivWrapper li a:hover {background: #dadada;}




/* Select header */
header .selectbox .selectedTxt {
    background: url(../images/select.png) no-repeat;
    color: #858585;
    font: 13px Arial;
    text-align: left;
    height: 20px;
    padding: 3px 0 0 5px;
}
.searchbox  .selectedTxt{
    background: url(../images/select5.png) no-repeat;
    color: #858585;
    font: 13px Arial;
    text-align: left;
    height: 20px;
    margin-right: 10px;
    padding: 5px 0 0 5px;
}
.searchbox .SSContainerDivWrapper{
}

/* Aside header */
aside .goroskopbox .selectbox .selectedTxt, .searchboxRow .smallselect .selectedTxt {
    background: url(../images/select2.png) no-repeat;
    color: #858585;
    font: 13px Arial;
    text-align: left;
    height: 20px;
    padding: 4px 0 0 7px;
    width: 144px;
}
aside .goroskopbox .selectbox .SSContainerDivWrapper, .searchboxRow .smallselect .SSContainerDivWrapper{width: 146px;}




/* Aside header */
.registerform .selectbox .selectedTxt {
    background: url(../images/select3.png) no-repeat;
    color: #616161;	font: 13px Tahoma;
    text-align: left; height: 27px;
    padding: 6px 0 0 7px; width: 87px;
}
.registerform .selectbox .SSContainerDivWrapper{width: 86px; margin-top: -3px;}
.registerform .selectbox2 .selectedTxt {background: url(../images/select4.png) no-repeat; width: 147px;}
.registerform .selectbox2 .SSContainerDivWrapper{width: 146px;}




/* Sortbox */
.sortbox .selectbox .selectedTxt {
    background: #fff url(../images/sel.jpg) right 0 no-repeat;
    border: 1px solid #b6b5ba;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    color: #616161;	font: 13px Tahoma;
    text-align: left; height: 19px;
    padding: 2px 0 0 5px; width: 87px;
    /* behavior: url(PIE.htc); */
    width: 105px;
}
.sortbox .selectbox2 .selectedTxt {width: 70px;}
.sortbox .selectbox .SSContainerDivWrapper{width: 106px;}
.sortbox .selectbox2 .SSContainerDivWrapper{width: 71px;}



/* Graphic select */
.graphicbox .selectbox .selectedTxt, .myprofileform .selectbox .selectedTxt {
    background: #fff url(../images/sel2.jpg) right 0 no-repeat;
    border: 1px solid #b6b5ba;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    color: #7d7d7d;	font: 12px Tahoma;
    text-align: left; height: 19px;
    padding: 3px 0 0 5px;
    /* behavior: url(PIE.htc); */
    width: 82px;
}
.graphicbox .selectbox .newList, .myprofileform .selectbox .SSContainerDivWrapper{width: 83px;}
.graphicbox .selectbox260 .selectedTxt {width: 255px;}
.graphicbox .selectbox260 .SSContainerDivWrapper{width: 256px;}

.myprofileform .selectbox260 .selectedTxt {width: 264px;}
.myprofileform .selectbox260 .SSContainerDivWrapper{width: 265px;}


/* Заявка селекты */
.zakaz_page .selectbox .selectedTxt {
    background: #fff url(../images/sel3.jpg) right 0 no-repeat;
    border: 1px solid #b6b5ba;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    color: #616161;	font: 12px Tahoma;
    text-align: left; height: 23px;
    padding: 7px 0 0 7px;
    /* behavior: url(PIE.htc); */
    width: 86px;
}
.zakaz_page .selectbox2 .selectedTxt {width: 144px;}
.zakaz_page .selectbox .SSContainerDivWrapper{width: 89px !important; margin-top: -32px !important;}
.zakaz_page .selectbox2 .SSContainerDivWrapper{width: 147px !important; margin-top: -32px !important;}

.newList{
    max-height: 150px;
    overflow: auto;
}

.newList{
    padding: 0 !important;
    margin: 0 !important;
}
.newList li{
    padding: 0 !important;
    margin: 0 !important;
}
.newList ol{
    padding: 0 !important;
    margin: 0 !important;
}


div.select-patch{}
div.select-patch .SSContainerDivWrapper ul{margin: 0 !important;}
div.select-patch .selectbox2 .newListSelected .SSContainerDivWrapper{width: 150px !important;}
div.select-patch .selectbox .newListSelected .selectedTxt{width: 159px !important; margin-right: 15px;}
div.select-patch .inp{width: 175px !important;}
div.select-patch .mosc_time{margin: -3px  0 0 10px;}

div.select-patch-photo{}
div.select-patch-photo .SSContainerDivWrapper ul{margin: 0 !important;}
div.select-patch-photo .selectbox2 .newListSelected .SSContainerDivWrapper{width: 60px !important;}
div.select-patch-photo .selectbox .newListSelected .selectedTxt{width: 65px !important; margin-right: 5px;}
div.select-patch-photo .what .newListSelected .SSContainerDivWrapper{width: 220px !important;}
div.select-patch-photo .what .newListSelected .selectedTxt{width: 223px !important; margin-right: 5px;}
div.select-patch-photo .inp{width: 200px !important;}
div.select-patch-photo .inp-area{width: 410px !important; height: 80px; background-color: white;}
div.select-patch-photo .mosc_time{margin: -3px  0 0 10px;}

