div.pager_box{text-align: center;}
ul.yiiPager {font-size:16px;border:0;margin:0;padding:0;line-height:100%;display:inline;}

ul.yiiPager li{display:inline;}

ul.yiiPager a:link,ul.yiiPager a:visited{font-weight:bold;color:#C00000;padding:1px 6px;text-decoration:none;}

ul.yiiPager .page a{display: inline-block; *display: inline; height: 28px; font: bold 14px/28px 'Arial'; color: #565656; background: url(../images/new-pag-bg.gif) 0 0 repeat-x; border: solid 1px #d2d2d2; border-radius: 2px; padding: 0 11px; margin: 0 6px; text-decoration: none;}

ul.yiiPager a:hover{/*font-weight: bold; text-decoration: underline;*/ border-style: inset;}

ul.yiiPager .selected a{/*font-weight: bold; text-decoration: underline;*/ border-style: inset;}

ul.yiiPager .hidden a{border:solid 1px #bababa;color:#888888;}

ul.yiiPager .first  , ul.yiiPager .last{display:none;}
ul.yiiPager .previous {display:none;}
ul.yiiPager .next {display:none;}

ul.yiiPager .first  a, ul.yiiPager .last a{font-weight: normal !important;}
ul.yiiPager .previous a{display: inline-block; *display: inline; height: 28px; font: bold 14px/28px 'Arial'; color: #565656; background: url(../images/new-pag-bg.gif) 0 0 repeat-x; border: solid 1px #d2d2d2; border-radius: 2px; padding: 0 11px; margin: 0 6px; text-decoration: none;}
ul.yiiPager .next a{display: inline-block; *display: inline; height: 28px; font: bold 14px/28px 'Arial'; color: #565656; background: url(../images/new-pag-bg.gif) 0 0 repeat-x; border: solid 1px #d2d2d2; border-radius: 2px; padding: 0 11px; margin: 0 6px; text-decoration: none;}
ul.yiiPager .previous a:hover{border-style: inset;}
ul.yiiPager .next a:hover{border-style: inset;}