/**
 * CSS styles for CLinkPager.
 *
 * @author Setrais Rtvs <setrais@gmail.com>
 * @link http://www.rtvs.net/
 * @copyright Copyright &copy; 2013-2014 Yii Software LLC
 * @license http://www.rtvs.net/license/
 * @since 1.0
 */

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	/*line-height:100%;
	display:inline;*/
}

ul.yiiPager li
{
    display: inline;
    /*line-height: 11px;*/
    vertical-align: top;
    /*height:12px;*/
}
ul.yiiPager li span
{
    font-size:12px;
    font-family: Tahoma, Arial, sans-serif;
    color: #b7b7b7;
}
ul.yiiPager a:link,
ul.yiiPager a:visited
{
	/*border:solid 1px #9aafe5;*/
	/*font-weight:bold;*/        
        font-family: Tahoma, Myriad Pro, Arial, sans-serif;
	/*color:#0e509e;*/
        color:#b7b7b7;
        font-size: 14px;
	padding:0px 2px;
	text-decoration:none;
        text-transform: lowercase;        
}

ul.yiiPager .page a
{
	font-weight:normal;      
        /*vertical-align: middle;*/
        text-align: center;        
}

ul.yiiPager a:hover
{
	/*border:solid 1px #0e509e;
        color:#4794f7;*/
    /*        background-color:#61D969;*/
    /*color:#fff;*/
}

ul.yiiPager .selected a
{
	/*background:#2e6ab1;
	color:#FFFFFF;
	font-weight:bold;*/
        color:#4794f7;
}

ul.yiiPager .hidden a
{
	/*border:solid 1px #DEDEDE;
	color:#888888;*/
        color:#b7b7b7;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{        
    display:inline-block;
}

.pager {
  color: #5C538F;
  float: left;
  font: 13px Arial;
  text-align: center !important;
  width: 100%;
  margin-top: 10px;
}

.pager li.prev,
.pager li.next,
.pager li.first,
.pager li.last{
    color: #5C538F;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: none;
    color: #0E509E;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}
.pager li.prev,
.pager li.next {
    background-color: #A6D960;
    border-radius: 6px;
    color: #5C538F;
    display: inline-block;
    margin: 0;
    padding: 3px 4px;
}
.pager li.prev:hover,
.pager li.next:hover {
    background-color:#61D969;
}
ul.yiiPager li {
  display: inline-block;
  padding: 3px 2px;
  vertical-align: top;
}
ul.yiiPager .selected a {
  background: none repeat scroll 0 0 #A6D960;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: bold;
}