/* CSS Document */

body {background: #fffbf1; margin: 0;}
img {border: 0;}
ul {margin: 0; padding: 0;}
li {list-style: none;}
h1, h2, h3, h4, h5, h6 {margin: 0;}
a, input, textarea {outline: none;}
a:hover {text-decoration: none;}



@font-face {
    font-family: 'Bebas';
    src: url('../font/bebas.eot');
    src: url('../font/bebas.eot?#iefix') format('embedded-opentype'),
        url('../font/bebas.woff') format('woff'),
        url('../font/bebas.ttf') format('truetype');
    /*url('../font/bebas.svg#aa_bebas_neueregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}



#wrapper {margin: 0 auto; width: 1000px;}
.middlewrap {background: #fff url(../images/foot1.png) bottom no-repeat; float: left; box-shadow: 0 0 15px #eaeaea; 
             -moz-box-shadow: 0 0 15px #eaeaea; -webkit-box-shadow: 0 0 15px #eaeaea;}


/* Header */
header {background: url(../images/head.jpg) no-repeat; float: left; width: 1000px; height: 355px; position: relative;}

header .logo {float: left; margin: 0 0 0 78px;}

header a.consult {border-left: 2px solid #e708f0; color: #fff; font: 12px Arial; text-decoration: none;
                  position: absolute; left: 85px; top: 194px; padding: 0 0 0 10px; line-height: 14px;}


/* Рассказать друзьям */
header .socialbox {background: url(../images/transp1.png); float: left; margin: 0 0 0 65px; color: #fff;
                   font: 13px Arial; border-top: 4px solid #584c90; padding: 6px 15px 10px 20px;}
header .socialbox span {display: block; margin: 0 0 7px;}
header .socialbox a {display: block; float: left; width: 22px; height: 20px; margin: 0 3px 0 0;}
header .socialbox a.ok {background: url(../images/social.png) 0 0 no-repeat;}
header .socialbox a.tw {background: url(../images/social.png) -24px 0 no-repeat;}
header .socialbox a.fb {background: url(../images/social.png) -50px 0 no-repeat;}
header .socialbox a.vk {background: url(../images/social.png) -76px 0 no-repeat;}
header .socialbox a.gl {background: url(../images/social.png) -101px 0 no-repeat;}


/* Авторизация */
header .loginbox {float: right; width: 210px; border-top: 4px solid #bf00ff; margin: 0 12px 0 0; padding: 6px 0 0 10px;
                  height: 95px;}
header .loginbox .icon {background: url(../images/key.png) no-repeat; width: 42px; height: 30px; position: absolute;
                        right: 4px; top: 1px;}
header .loginbox .ttl {color: #fff; font: 13px Arial; text-transform: uppercase; text-shadow: 1px 1px 0 #964cb0; margin: 0 0 8px;}
header .loginbox .inp {background: url(../images/transp2.png); border: 1px solid #a14bb8; float: left; color: #fff;
                       font: 12px Arial; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 85px; padding: 3px 5px;
                       margin: 0 4px 8px 0;}
header .loginbox .submit {float: right; background: url(../images/button1.png) no-repeat; width: 57px; color: #fff; border: 0;
                          cursor: pointer; font: 12px Arial; padding: 3px 0 5px; margin: 3px 12px 0 0;}
header .loginbox ul {float: left;}
header .loginbox ul li {background: url(../images/bull1.png) 0 5px no-repeat; font: 11px Arial; padding-left: 6px;}
header .loginbox ul li a {color: #fff;}


header .socialbox, header .loginbox {background: url(../images/transp1.png); border-radius: 0 0 5px 5px;
                                     -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;}



/* Авторизация - эксперт */
header .loginbox_expert {color: #fff; font: 12px Arial;}
header .loginbox_expert .ttl {text-transform: none;}
header .loginbox_expert span {font: 11px Arial; padding-left: 6px;}
header .loginbox_expert span.pr {float: left; margin: 5px 5px 0 0;}
header .loginbox_expert a {color: #fff;}
header .loginbox_expert ul.onl {margin: 5px 0;}
header .loginbox_expert ul.onl li {background: 0; float: left; border-radius: 2px; padding: 0;}
header .loginbox_expert ul.onl li a {text-decoration: none; padding: 0 3px 1px 18px; display: block;}
header .loginbox_expert ul.onl li.online a {background: url(../images/online3.png) 3px 1px no-repeat;}
header .loginbox_expert ul.onl li.busy a {background: url(../images/online3.png) 3px -55px no-repeat;}
header .loginbox_expert ul.onl li.autonomous a {background: url(../images/online3.png) 3px -28px no-repeat;}
header .loginbox_expert ul.onl li.active {background: #584c90;}
header .loginbox .icon_mess {background: url(../images/b-bar__icon.png) -164px 0 no-repeat; height: 25px; width: 26px;position:absolute;left:130px;top:2px;display:inline-block;}

/* Авторизация - пользователь */
header .loginbox_expert .balance {font-size: 11px; margin: 5px 0 0 6px;}
header .loginbox_expert .balance b {color: #611486; font: normal 15px Arial;}





/* НУЖНА ПОМОЩЬ? */
header .helpbox {float: left; width: 227px; border-right: 4px solid #584c90; padding: 6px 0 0; font: 12px Tahoma; color: #611486;
                 background: url(../images/transp2.png); border-radius: 5px 0 0 5px; position: absolute !important; right: 0; bottom: 60px;}
header .helpbox .ttl {font: 15px Tahoma; text-shadow: 1px 1px 0 #fff; margin: 0 0 10px 20px;}
header .helpbox .call {background: url(../images/button2.png); color: #fff; text-align: center; font: 13px Arial;
                       text-decoration: none; display: block; width: 137px; line-height: 25px; margin: 0 0 10px 20px;}
header .helpbox .icon {background: url(../images/plan.png) no-repeat; width: 51px; height: 59px; position: absolute;
                       right: 5px; top: -7px;}
header .helpbox .selectfield {float: left; margin: 0 0 10px; background: url(../images/dash.png) 0 0 repeat-x; padding: 10px 0 0 20px;
                              width: 207px;}
header .helpbox .selectfield span {float: left; margin: 4px 7px 0 0;}
header .helpbox .selectfield .selectbox {float: left;}
header .helpbox p {margin: 10px 0 10px 20px; color: #fff;}
header .helpbox p a {color: #611486; text-decoration: none;}
header .helpbox p a:hover {text-decoration: underline;}



/* NAV topmenu */
nav {background: url(../images/nav.png) no-repeat; 
     float: left; 
     width: 984px; 
     height: 53px; 
     position: absolute;
     left: 8px; 
     bottom: 0;
     z-index: 1001;
}
nav ul {float: left; margin-left: 10px;}
nav ul li {
    float: left; 
    font: 24px 'Bebas'; 
    text-transform: uppercase; 
    background: url(../images/separator.png) 0 center no-repeat;
    padding-left: 2px; 
    position: relative;
}
nav ul li a {
    color: #611486; 
    display: block; 
    text-decoration: none; 
    padding: 0 10px 0 10px; 
    line-height: 51px;
    text-shadow: 1px 1px 0 #fff;
}
nav ul li:hover a, 
nav ul li.active a{
    background: url(../images/nav2.png) 0 0 repeat-x; 
    /*background-color: #CCCCCC;*/
    color: #a431a5;
}
nav ul li:nth-child(0n+1) {background: 0;}
nav ul li:first-child {background: 0;}

/* NAV topmenu - dropdown */
nav ul li ul {
    position: absolute; 
    display: block; 
    width: 202px; 
    padding: 8px 10px; 
    /*background: url(../images/nav.png) 0 0 rgba(0,0,0,50);*/
    background-color: #C198CA;
    float: left; 
    margin: 0; 
    visibility: hidden; 
    z-index: 1900;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
nav ul li ul li {
    float: none; 
    background: 0;
    padding: 7px 0 8px 14px; 
    font: 13px Tahoma; 
    text-transform: none;
    background: url(../images/arrow1.png) 0 10px no-repeat !important;
}
ul li ul li a {
    line-height: 15px; 
    color: #fff; 
    text-shadow: none; 
    padding: 0; 
    text-decoration: none; 
    background: 0 !important;
    color: #fff !important;
}
nav ul li ul li a:hover {
    background: 0; 
    color: #fff;
    text-decoration: underline;
}
nav ul li:hover ul {
    visibility: visible;
}


/* Content */
section {float: left; width: 659px; margin: 15px 0 30px 18px;}
section.sRight {float: right; width: 659px; margin: 15px 18px 30px 0;}

section .head1 {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; background: url(../images/pen.jpg) 0 0 no-repeat;
                min-height: 45px; margin: 0 0 20px;}
section .head1 h2 {color: #c864ad; float: left; font: bold 19px Trebuchet MS, Arial; margin: 6px 0 0 48px;}
section .head1 a.all {color: #fff; float: right; font: 12px Tahoma; background: url(../images/button3.png) no-repeat;
                      display: block; width: 145px; text-align: center; text-decoration: none; padding: 2px 0 4px; margin: 12px 0 0;}


/* ЭКСПЕРТ */
.expertitem {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; margin: 0 0 15px; padding: 0 0 10px;}
.expertitem .leftbox {float: left; width: 131px;}
.expertitem .leftbox .ava {background: url(../images/ramka.png) no-repeat; width: 123px; height: 126px; margin: 0 0 8px;
                           padding: 5px 0 0 8px;}
.expertitem .leftbox .ava img {width: 109px; height: 114px;}
.expertitem .leftbox a.call {background: url(../images/button4.png) no-repeat; display: block; width: 117px; color: #fff;
                             font: 15px Trebuchet MS, Arial; text-transform: uppercase; text-shadow: 1px 1px 0 #5a8d0d; line-height: 38px; 
                             text-decoration: none; padding-left: 15px;}
.expertitem .leftbox a.call2 {background: url(../images/button5.png) no-repeat; text-shadow: 1px 1px 0 #af2036;}

.expertitem .rightbox {float: right; width: 510px;}
.expertitem .rightbox .txt {float: left; width: 274px; position: relative; color: #7f7f7f; font: 12px Tahoma;}
.expertitem .rightbox .txt .name {float: left; width: 100%; margin: 0 0 1px;}
.expertitem .rightbox .txt .name span {float: left; margin: 0; font-size: 15px; padding-left: 18px;}
.expertitem .rightbox .txt .name span.online1 {background: url(../images/online1.png) 0 4px no-repeat;}
.expertitem .rightbox .txt .name span.online2 {background: url(../images/online2.png) 0 4px no-repeat;}
.expertitem .rightbox .txt .name span.autonomous {background: url(../images/autonomous.png) 0 4px no-repeat;}
.expertitem .rightbox .txt .name span a {color: #584c90;}
.expertitem .rightbox .txt .name a.comlink {color: #fff; text-decoration: none; background: #79c50f; float: right; margin: 2px 0 0;
                                            padding: 1px 6px 3px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;}
.expertitem .rightbox .txt .type {color: #584c90; margin: 0 0 0 18px;}
.expertitem .rightbox .txt a.more {background: url(../images/more.png) 0 1px no-repeat; display: inline-block; width: 6px; height: 10px;}
.expertitem .rightbox .review {color: #7167a0; float: right; font: italic 12px Tahoma; background: #fdfadd; width: 193px;
                               padding: 15px; border-radius: 0 7px 7px 7px; -moz-border-radius: 0 7px 7px 7px; -webkit-border-radius: 0 7px 7px 7px;}

.expertitem .meta, .expertitem .meta .tooltip {background: #fbfbfb !important; float: left; width: 100%; padding: 5px 0;
                                               color: #7f7f7f; font: 12px Tahoma;}
.expertitem .meta span {float: left; margin: 0 15px; padding: 5px 0 7px 35px;}
.expertitem .meta span b {color: #584c90; font: normal 15px Tahoma;}
.expertitem .meta span.mobile {background: url(../images/mobile.png) no-repeat;}
.expertitem .meta span.dom {background: url(../images/phone.png) 0 3px no-repeat;}
.expertitem .meta .tooltip {width: 325px !important; font-style: italic; padding: 10px 20px; color: #7167a0; visibility: hidden;
                            position: absolute; top: 30px; left: 195px; z-index: 100;}
.expertitem .meta .tooltip b {color: #584c90; font: normal italic 15px Tahoma;}
.expertitem .meta:hover .tooltip {visibility: visible;}




/* ПОСТРАНИЧНАЯ НАВИГАЦИЯ */
.pagination {float: left; width: 100%; font: 13px Arial; color: #5c538f; text-align: center;}
.pagination a {color: #c864ad; text-decoration: none;}
.pagination span, .pagination a {margin: 0 5px;}
.pagination a.prev {color: #5c538f; background: url(../images/prev.png) no-repeat; padding: 0 12px 3px 22px; margin: 0;}
.pagination a.next {color: #5c538f; background: url(../images/next.png) no-repeat; padding: 0 22px 3px 10px; margin: 0;}



/* SLIDERBOX */
.slbodywrapper {position: relative; width: 659px; margin: 0 0 10px; float: left;}
.skl, .skl2 {width: 16px; height: 35px; position: absolute; top: 262px; z-index: 1000;}
.skl {background: url('../images/skl.png') no-repeat; left: 5px;}
.skl2 {background: url('../images/skl2.png') no-repeat; right: 5px;}








/* Sidebar */
aside {float: right; width: 294px; margin: 15px 12px 30px 0;}
aside.left_bar {float: left; width: 294px; margin: 15px 12px 30px 0;}

/* Акции */
aside .action1, aside .action2 {float: left; width: 294px; margin: 0 0 10px; height: 169px; position: relative;
                                text-transform: uppercase; font: bold 24px Trebuchet MS, Arial;}
aside .action1 a, aside .action2 a {text-decoration: none;}
aside .action1 span, aside .action2 span {position: absolute;}
aside .action1 a {color: #fff; text-shadow: 1px 1px 0 #3b106e;}
aside .action2 a {color: #8356b9; text-shadow: 1px 1px 0 #fff;}
aside .action1 span {left: 18px; bottom: 18px;}
aside .action2 span {right: 18px; top: 15px;}


/* Гороскоп */
.goroskopbox {background: url(../images/horo1.jpg) 0 0 no-repeat; float: left; width: 100%; color: #707070; font: 12px Tahoma;
              padding-bottom: 10px;}
.goroskopbox .title {float: left; margin: 12px 0 0 15px; height: 47px;}
.goroskopbox .title span {float: left; font: 20px Trebuchet MS, Arial; color: #fefefe; text-shadow: 1px 1px 0 #3b106e;
                          background: url(../images/arrow2.png) right 6px no-repeat; padding-right: 17px;}
.goroskopbox .title .selectbox {float: left; margin: 1px 0 0 10px;}

.goroskopbox .box1 {background: url(../images/dash2.png) bottom repeat-x; float: left; padding: 0 20px 30px; width: 241px;
                    margin: 0 0 10px 7px;}
.goroskopbox .box1 p {margin: 0; display: block; float: left; width: 125px;}
.goroskopbox .box1 span {color: #38c0e7; font: 24px Tahoma; display: block; margin: 0 0 10px;}
.goroskopbox .box1 b {color: #7561a0; background: #ede1f0; padding: 0 6px 1px; font-weight: normal; border-radius: 10px;
                      -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.goroskopbox .box1 img {float: right;}
.goroskopbox .box2 {margin: 0 15px 0 25px;}


/* Знаки зодиака */
.horo_icons {float: left; width: 100%; margin: 0 0 25px;}
.horo_icons li {float: left; margin: 0 4px 0 0;}
.horo_icons li a {display: block; width: 19px; height: 19px;}
.horo_icons li.ic1 a {background: url(../images/znaki.png) 0 0 no-repeat; margin-left: 10px;}
.horo_icons li.ic2 a {background: url(../images/znaki.png) -23px 0 no-repeat;}
.horo_icons li.ic3 a {background: url(../images/znaki.png) -45px 0 no-repeat;}
.horo_icons li.ic4 a {background: url(../images/znaki.png) -69px 0 no-repeat;}
.horo_icons li.ic5 a {background: url(../images/znaki.png) -92px 0 no-repeat;}
.horo_icons li.ic6 a {background: url(../images/znaki.png) -115px 0 no-repeat;}
.horo_icons li.ic7 a {background: url(../images/znaki.png) -138px 0 no-repeat;}
.horo_icons li.ic8 a {background: url(../images/znaki.png) -161px 0 no-repeat;}
.horo_icons li.ic9 a {background: url(../images/znaki.png) -184px 0 no-repeat;}
.horo_icons li.ic10 a {background: url(../images/znaki.png) -207px 0 no-repeat;}
.horo_icons li.ic11 a {background: url(../images/znaki.png) -230px 0 no-repeat;}
.horo_icons li.ic12 a {background: url(../images/znaki.png) -253px 0 no-repeat; margin: 0;}


/* Подписка на гороскоп  */
.subscribebox {background: url(../images/horo2.jpg) 0 0 no-repeat; float: left; width: 100%; padding: 35px 0 0;
               color: #727272; font: 13px Tahoma; margin: 0 0 10px;}
.subscribebox .ttl {color: #27419c; font: 20px Trebuchet MS, Arial; margin: 0 0 9px 15px;}
.subscribebox .in {background: #fdfadd; border: 1px solid #deded9; border-top: 0; border-radius: 0 0 10px 10px;
                   -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; padding: 5px 15px 10px;}
.subscribebox p.inp {background: url(../images/input.png) no-repeat; width: 257px; height: 28px; margin: 0 0 5px;}
.subscribebox p.inp input {color: #727272; font: 13px Tahoma; background: 0; width: 235px; padding: 0; border: 0; margin: 3px 0 0 7px;}
.subscribebox p.check, .subscribebox p.check input, .subscribebox p.check label {float: left; margin: 0;}
.subscribebox p.check {margin: 3px 0 0;}
.subscribebox p.check input {margin: 2px 5px 0 0; padding: 0;}
.subscribebox .submit {background: url(../images/button6.png) no-repeat; border: 0; color: #fefefe; width: 98px; cursor: pointer;
                       font-size: 12px; padding: 4px 0; float: right; margin: 0 8px 0 0;}


/* Поделиться с друзьями */
aside .socialsidebox {
    background: #fff url(../images/grad.jpg) bottom repeat-x;
    float: left; margin: 0 0 10px;
    width: 99.4%; padding: 10px 0;
    border: 1px solid #efefef;
    border-radius: 0 7px 7px 7px; -moz-border-radius: 0 7px 7px 7px; -webkit-border-radius: 0 7px 7px 7px;
    box-shadow: 1px 1px 0 #e1e1e1; -moz-box-shadow: 1px 1px 0 #e1e1e1; -webkit-box-shadow: 1px 1px 0 #e1e1e1;
    color: #584c90; font: 17px Trebuchet MS, Arial;
}
aside .socialsidebox span {display: block; text-align: center; border-bottom: 1px dashed #dcdaf6; padding: 0 0 10px; margin: 0 0 10px;}
aside .socialsidebox a {display: block; width: 33px; height: 31px; float: left; margin: 0 3px;}
aside .socialsidebox a.ok {background: url(../images/social2.png) 0 0 no-repeat; margin-left: 50px;}
aside .socialsidebox a.tw {background: url(../images/social2.png) -37px 0 no-repeat;}
aside .socialsidebox a.fb {background: url(../images/social2.png) -75px 0 no-repeat;}
aside .socialsidebox a.vk {background: url(../images/social2.png) -113px 0 no-repeat;}
aside .socialsidebox a.gl {background: url(../images/social2.png) -152px 0 no-repeat;}



/* СТАТЬИ */
.articlebox {float: right; width: 95%; margin: 0 0 10px; font: 13px Tahoma;}
.articlebox .ttl {background: url(../images/clock.png) right 0 no-repeat; color: #c864ad; font: 20px Trebuchet MS, Arial;
                  margin: 0 0 12px; text-transform: uppercase; height: 32px; padding: 9px 0 0;}

.articlebox li {float: left; width: 100%; border-bottom: 1px dashed #d1d1d1; color: #727272;
                padding: 0 0 10px; margin: 0 0 15px;}
.articlebox li .img {float: right; width: 105px; height: 104px; padding: 4px 0 0 4px; position: relative; margin-left: 10px;}
.articlebox li .img img {width: 102px; height: 97px;}
.articlebox li .img b {background: url(../images/ramka2.png) no-repeat; width: 109px; height: 108px; position: absolute; 
                       left: 0; top: 0; display: block;}
.articlebox li span {display: block;}
.articlebox li em {display: block; font-style: normal; margin: 0 0 15px;}
.articlebox li a {color: #2c459e;}
.articlebox a.all {background: #c49ed8; color: #fff; text-decoration: none; float: left; margin: 2px 0 0;
                   padding: 1px 6px 3px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;}

/* Аватар в сайдбаре */
.profile_page{}
.profile_wrap{margin-bottom: 30px;}
.profile_wrap img{max-width: 100%;}
/* .ava_aside {float: left; width: 261px; margin: 0 0 20px 17px;}*/
.profile_wrap .ava {padding: 15px 0 10px;text-align: center;position: relative}
/*.profile_wrap .ava img {width: 251px; height: 245px; margin: 5px 0 0 5px;float: left;}*/
.profile_wrap .ava img {width: 50px; height: 50px; margin: 5px 0 0 11px;float: left; padding-top:10px;}


/*.profile_wrap .ava b {width: 261px; height: 261px; margin: 0 auto;background: url(../images/ramka3.png); display: block; }*/
.profile_wrap .ava b {width: 50px; height: 50px; margin: 0 auto; }


.user_status{
    background:url(../images/z-exp-bg.jpg) 0 0 repeat-x; 
    border-radius: 5px; 
    height: 56px; 
    /*width: 100%;*/ 
    border-left: solid 1px #f7ec8b; border-bottom: solid 1px #f7ec8b; padding: 10px 0; margin: 0 0 10px 0;}
.user_status img {width: 50px; height: 50px; border: solid 2px #ededed; float: left; margin: 0 20px 0 12px;}
.user_status h1 {font: normal 15px 'Arial'; color: #65178e; margin: 0 0 5px 0;}
.user_status span {margin: 0 0 0 100px; padding: 0 0 0 17px; font: 14px Arial;}
.user_status span.online {background: url(../images/online1.png) 0 50% no-repeat; font: normal 11px 'Arial'; color: #639b0d; margin: 0;}
.user_status span.busy {background: url(../images/online2.png) 0 50% no-repeat;font: normal 11px 'Arial'; color: #ffbd1e; margin: 0;}
.user_status span.autonomous {background: url(../images/autonomous.png) 0 50% no-repeat;font: normal 11px 'Arial'; color: #FF208F; margin: 0;}
.profile_list{margin: 0; padding: 24px 60px 24px 40px; list-style: none; background:#fbf4fb; border: solid 1px #f3e2f7; border-radius: 5px;}
.profile_list li{margin: 0;padding: 0; border-top: dotted 1px #615f61; font-weight: bold;font: 18px Trebuchet MS, Arial;}
.profile_list li:first-child{border-top: none;}
.profile_list li a{display: block; padding: 8px 30px; font: normal 13px 'Arial'; color: #8b8b8b; text-decoration: none; position: relative;}
.profile_list li a span.exit-but{display: inline-block; background: url(../images/exit-but-bg.jpg) 0 0 repeat-x; border: solid 1px #e5e5e5; border-bottom: solid 1px #928f8f; line-height: 23px; padding: 0 9px; border-radius: 4px;}
.profile_list li a:hover{color: #bb509e;}
.profile_list li a:hover i{background: #fbf4fb url('../images/new-icons-hover.png') 0 0 no-repeat;}
.profile_list li a i{width: 28px;height: 30px;background: #fbf4fb url('../images/new-icons.png') 0 0 no-repeat;position: absolute;left: 0;top: 55%;margin-top: -14px;}
.profile_list li a i.i_msg{background-position: 0 -30px;margin-top: -15px}/**/
.profile_list li a i.i_order{background-position: 0 -94px;}/**/
.profile_list li a i.i_answer{background-position: 0 -63px;height: 28px;margin-top: -17px}
.profile_list li a i.i_post{background-position: 0 0;}/**/
.profile_list li a i.i_sms{background-position: 0 -136px;margin-top: -12px;}
.profile_list li a i.i_schedule{background-position: 0 -223px;}/**/
.profile_list li a i.i_rates{background-position: 0 -255px;}
.profile_list li a i.i_service{background-position: 0 -65px;margin-top: -11px;}/**/
.profile_list li a i.i_profile{background-position: 0 -130px;margin-top: -11px;}/**/
.profile_list li a i.i_lock{background-position: 0 -160px;margin-top: -15px;}/**/
.profile_list li a i.i_gallery{background-position: 0 -193px;margin-top: -11px;}/**/


/* Счет в сайдбаре */
.aside_account {float: left; width: 99%; margin: 0 0 10px; padding: 0 0 15px; color: #616161; font: 13px Tahoma;}
.aside_account .ttl {color: #c864ad; border-bottom: 1px dashed #ccc8dd; font: 17px Trebuchet MS, Arial; padding: 7px 15px;
                     margin: 0 0 10px;}
.aside_account img {width: 75px; height: 82px; float: left; margin: 0 10px 10px;}
.aside_account p {margin: 0 0 12px;}
.aside_account a {color: #29439d;}
.aside_account em {color: #611486; font: normal 17px Tahoma; display: block;}
.aside_account a.buy {color: #fff; font: 13px Tahoma; display: block; background: url(../images/button11.png) no-repeat;
                      width: 128px; text-align: center; text-decoration: none; text-transform: uppercase; text-shadow: 1px 1px 0 #419eb9;
                      float: left; padding: 4px 0 7px; margin: 14px 0 0;}


/* Вы недавно общались */
aside .asidebox {float: left; width: 99%; margin: 0 0 15px;}
aside .asidebox .ttl {color: #c864ad; font: 17px Trebuchet MS, Arial; margin: 0 15px 10px;}
aside .asidebox li {float: left; margin: 0 10px 0 0; font: 15px Tahoma; text-align: center; width: 90px;}
aside .asidebox li a {color: #616161; text-decoration: none;}
aside .asidebox li a:hover {text-decoration: underline;}
aside .asidebox li .img {display: block; position: relative; width: 90px; height: 91px;}
aside .asidebox li .img img {width: 84px; height: 82px; margin: 2px 0 0 3px;}
aside .asidebox li .img b {display: block; background: url(../images/ramka4.png) no-repeat; width: 90px; height: 91px;
                           position: absolute; left: 0; top: 0;}
aside .asidebox li .img span {display: block; width: 20px; height: 20px; position: absolute; left: 3px; top: 5px;}
aside .asidebox li .img span.online {background: url(../images/online3.png) 3px 1px no-repeat;}
aside .asidebox li .img span.busy {background: url(../images/online3.png) 3px -55px no-repeat;}
aside .asidebox li .img span.autonomous {background: url(../images/online3.png) 3px -28px no-repeat;}

aside .asidebox li:nth-child(3n+3) {margin: 0;}
aside .asidebox li:first-child + li + li {margin: 0;}






/* FOOTER */
footer {background: url(../images/foot2.jpg) 0 0 no-repeat; float: left; width: 100%; height: 127px; padding: 13px 0 0;
        font: 12px Arial; color: #838383; position: relative;}
footer a {color: #fff;}
footer .fmenu {text-align: center; line-height: 22px; font-size: 13px;}
footer .fmenu a {margin: 0 14px;}
footer .copyright {position: absolute; top: 88px; left: 176px;width: 260px;}
footer .logo2 {position: absolute; top: 80px; left: 25px;}
footer .developer{top: 98px;right: 60px;max-width: 250px;position: absolute;}
footer .developer a{color: #584c90;}
footer .phone {position: absolute; top: 85px; left: 525px; color: #584c90; font: 17px Trebuchet MS, Arial;max-width: 160px;}
footer .phone span {display: block; color: #fff; font: 11px Arial; background: #a6d960; padding: 1px 4px 2px; float: left; 
                    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}




/* ======================== */
/* РЕГИСТРАЦИЯ */
/* ======================== */
.registerpage {float: left; width: 98%; margin: 0 0 30px; font: 12px Tahoma;}
.registerpage h1 {float: left; width: 60%; margin: 0 0 30px 20px; font: bold 18px Trebuchet MS, Arial; color: #c864ad;
                  text-transform: uppercase;}
.registerpage a {color: #27419c;}
.registerpage .login2 {float: right; color: #7f7f7f; width: 145px;}
.registerpage article {display: block; background: #b24bcd; color: #fff; float: left; width: 605px; padding: 10px 20px;
                       margin: 0 0 15px; border-radius: 10px 10px 10px 0; -moz-border-radius: 10px 10px 10px 0; -webkit-border-radius: 10px 10px 10px 0;}
.registerpage article h2 {font: 16px Tahoma; margin: 0 0 15px;}

/* Форма */
.registerform {background: #fff url(../images/grad4.jpg) bottom repeat-x !important; color: #7f7f7f; font: 13px Tahoma;
               float: left; width: 100%; padding: 0 0 35px;}
.registerform .field {width: 100%; float: left; margin: 0 0 10px;}
.registerform .field span {width: 220px; text-align: right; float: left; margin: 6px 10px 0 10px;}
.registerform .field .inp {
    background: url(../images/grad3.jpg) 0 0 repeat-x;
    border: 1px solid #cccbcc;
    color: #616161; font: 13px Tahoma;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
    padding: 6px 7px 7px; margin: 0;
    width: 265px;
}
.registerform .field .inp2 {width: 146px; margin: 0 0 0 3px;}

/* Rules */
.registerform .rules {margin: 0 0 10px 210px; float: left;}
.registerform .rules label {float: left; margin: 2px 0 0; color: #616161;}
.registerform .submit {background: url(../images/button7.png) no-repeat; border: 0; cursor: pointer; color: #fff;
                       text-transform: uppercase; width: 138px; padding: 9px 0; font: 15px Trebuchet MS, Arial; margin-left: 237px;}

/* Пол */
.registerform .f_radio span {margin-top: 3px;}
.registerform .f_radio label {float: left; color: #616161; margin: 3px 15px 0 0;}

/* Социалки */
.socialminiicons {color: #616161; border-bottom: 1px dashed #ccc8dd; float: left; width: 95.5%; margin: 0 0 10px 2%;
                  padding: 10px 0;}
.socialminiicons em {font-style: normal; float: left; margin: 2px 10px 0 70px;}
.socialminiicons a {display: block; float: left; width: 22px; height: 20px; margin: 0 3px 0 0;}
.socialminiicons a.ok {background: url(../images/social.png) 0 0 no-repeat;}
.socialminiicons a.tw {background: url(../images/social.png) -24px 0 no-repeat;}
.socialminiicons a.fb {background: url(../images/social.png) -50px 0 no-repeat;}
.socialminiicons a.vk {background: url(../images/social.png) -76px 0 no-repeat;}
.socialminiicons a.gl {background: url(../images/social.png) -101px 0 no-repeat;}





/* ======================== */
/* СОННИК */
/* ======================== */
.sonnikpage {float: left; width: 98%; margin: 0 0 30px 10px; font: 13px Tahoma; color: #7f7f7f;}
.sonnikpage h1 {margin: 0 0 20px; font: bold 18px Trebuchet MS, Arial; color: #c864ad;
                text-transform: uppercase; border-bottom: 1px dashed #ccc8dd; padding: 0 0 10px 10px;}
.sonnikpage a {color: #27419c;}

/* Search */
.sonnikpage .box {border-bottom: 1px dashed #ccc8dd; padding: 0 2% 15px; margin: 0 0 15px; float: left; width: 96%;}
.sonnikpage .box h3 {color: #584c90; font: 16px Tahoma; margin: 0 0 20px;}
.sonnikpage .searchbox p{
    margin: 0 0 15px;
}
.sonnikpage .searchbox .inp {
    background: url(../images/grad3.jpg) 0 0 repeat-x;
    border: 1px solid #cbcbcc; float: left;
    color: #616161; font: 13px Tahoma;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
    padding: 3px 7px 4px; margin: 0 5px 5px 0;
    width: 336px;
}
.sonnikpage .searchbox .searchboxRow{
    margin:0 0 25px;
}
.sonnikpage .searchbox .submit {background: url(../images/button8.png) no-repeat; border: 0; cursor: pointer; color: #fff;
                                text-transform: uppercase; width: 80px; padding: 4px 0 6px; font: 12px Trebuchet MS, Arial; float: left;}
.sonnikpage .searchbox .submit2 {background: url(../images/button9.png) no-repeat; width: 121px; margin: 0 5px 0 0;}
.sonnikpage .searchbox .submit3 {background: url(../images/button9.png) -122px 0 no-repeat; width: 121px;}

/* Alphabet */
ul.alphabet {float: left; padding: 10px 0 5px 5px; background: #fdfadd; font: 18px Arial; width: 520px;
             border-radius: 0 10px 10px 10px; -moz-border-radius: 0 10px 10px 10px; -webkit-border-radius: 0 10px 10px 10px;}
ul.alphabet li {float: left; margin: 0 12px 8px;}
ul.alphabet li a {color: #584c90;}

/* Тематический указатель */
.sonnikpage ul.theme_ul {float: left; width: 180px; margin: 0 15px 0 10px;}
.sonnikpage ul.theme_ul li {background: url(../images/arrow3.png) 0 8px no-repeat; padding-left: 14px; line-height: 24px;}
.sonnikpage ul.theme_ul li a {color: #924db8; text-decoration: none;}
.sonnikpage ul.theme_ul li a:hover {text-decoration: underline;}

/* Post */
.sonnikpage .post {margin: 0 0 15px; float: left; width: 100%;}
.sonnikpage .post h2 {background: url(../images/arrow4.png) 0 7px no-repeat; margin: 0 0 10px 10px; font: bold 18px Trebuchet MS, Arial; 
                      color: #c864ad; padding-left: 12px;}
.sonnikpage .post article {color: #7f7f7f; font: 13px Tahoma; float: left; width: 94%; padding: 0 3% 5px;}
.sonnikpage .post article p.vio {color: #924db8;}
.sonnikpage .post article ul {margin: 10px 0;}
.sonnikpage .post article ul li {background: url(../images/bull.png) 0 5px no-repeat; padding-left: 14px; margin: 10px 0;}








/* ============================================= */
/* ============ СТРАНИЦА ЭКСТРАСЕНС ============ */
/* ============================================= */
.extrasens_page {float: left; width: 98%; margin: 0 0 30px 10px; font: 13px Tahoma; color: #7f7f7f;}
.extrasens_page a {color: #27419c;}

/* Заголовок */
.extrasens_page .head {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; margin: 0 0 20px; padding: 0 0 15px;}
.extrasens_page .head h1 {font: 24px Trebuchet MS, Arial; color: #c864ad; float: left; margin: 0 0 0 20px;}
.extrasens_page .head a.all {color: #fff; float: right; font: 12px Tahoma; background: url(../images/button3.png) no-repeat;
                             display: block; width: 145px; text-align: center; text-decoration: none; padding: 2px 0 4px; margin: 7px 0 0;}
.extrasens_page .head span {float: left; margin: 6px 0 0 14px; padding: 0 0 0 17px;}
.extrasens_page .head span.online1 {background: url(../images/online1.png) 0 4px no-repeat; color: #5bcf0f;}
.extrasens_page .head span.online2 {background: url(../images/online2.png) 0 4px no-repeat;}
.extrasens_page .head span.autonomous {background: url(../images/autonomous.png) 0 4px no-repeat;}

/* Карточка */
.cardbox {float: left; width: 100%; margin: 0 0 10px;}

/* Аватар */
.cardbox .ava {float: left; width: 261px; height: 261px; position: relative; margin: 0 17px 0 0;}
.cardbox .ava img {float: left; width: 251px; height: 245px; margin: 5px 0 0 5px;}
.cardbox .ava b {width: 261px; height: 261px; background: url(../images/ramka3.png); display: block; position: absolute;
                 top: 0; left: 0;}

/* Описание */
.cardbox .desc {float: right; width: 365px;}
.cardbox .desc .top {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; margin: 0 0 10px; padding: 0 0 10px;}
.cardbox .desc .top .type {float: left; color: #c864ad; font: 18px Trebuchet MS, Arial; text-transform: uppercase; margin: 17px 0 0;}
.cardbox .desc .top .call {float: right; width: 150px; color: #be95ca; font-size: 12px; text-align: center;}
.cardbox .desc .top .call a {background: url(../images/button4.png) no-repeat; display: block; width: 117px; color: #fff;
                             font: 15px Trebuchet MS, Arial; text-transform: uppercase; text-shadow: 1px 1px 0 #5a8d0d; line-height: 38px; 
                             text-decoration: none; padding-left: 15px; text-align: left; margin: 0 auto 5px;}

/* Телефоны */
.cardbox .meta {background: #fbfbfb !important; float: left; width: 100%; padding: 5px 0; color: #7f7f7f; font: 12px Tahoma; 
                margin: 10px 0 0;}
.cardbox .meta span {float: left; margin: 0 15px; padding: 5px 0 7px;}
.cardbox .meta span b {color: #584c90; font: normal 15px Tahoma;}
.cardbox .meta span.mobile {background: url(../images/mobile.png) no-repeat; padding-left: 35px;}
.cardbox .meta span.dom {background: url(../images/phone.png) 0 3px no-repeat; padding-left: 35px;}


/* Tabsbox */
#tabsbox {float: left; width: 650px;}
#tabsbox .tabhead {float: left; width: 650px;}
#tabsbox .tabhead li {float: left; width: 129px; font: bold 13px Arial; margin: 0 1px 0 0;}
#tabsbox .tabhead li a {display: block; text-align: center; border: 0; border-radius: 5px;
                        background: #998ec6 url(../images/grad5.jpg) 0 0 repeat-x; color: #fefefe; line-height: 37px; border-radius: 10px 10px 0 0;
                        -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-bottom: 0; text-decoration: none;
                        padding-bottom: 15px;}
#tabsbox .tabhead li.ui-tabs-active a {background: 0; color: #5a4e91; font-weight: normal; border: 1px solid #eee;}

#tabsbox .tabcontent {color: #7f7f7f; font: 13px Tahoma; border-top: 0; margin: -15px 0 10px; float: left; width: 647px;}
#tabsbox .tabitem {float: left; width: 648px; padding: 15px 0; margin: 0 0 15px;}

/* Отзывы */
.reviewsbox .review {float: left; padding: 10px; background: #fdfadd; font: italic 13px Arial; width: 604px; color: #695e98;
                     border-radius: 0 10px 10px 10px; -moz-border-radius: 0 10px 10px 10px; -webkit-border-radius: 0 10px 10px 10px; margin: 0 0 15px 11px;}
.reviewsbox .review span {border-bottom: 1px dashed #ccc8dd; margin: 0 0 10px; padding: 0 0 10px; display: block;
                          font: normal 13px Tahoma;}
.reviewsbox .review a {color: #314aa1;}
.reviewsbox .review2 {background: #f6f0f8;}
.reviewsbox .write_review {background: url(../images/button-rev.png) no-repeat; display: block; width: 177px; color: #fff;
                           font: 15px Trebuchet MS, Arial; text-transform: uppercase; text-shadow: 1px 1px 0 #5a8d0d; line-height: 38px; 
                           text-decoration: none; padding-left: 15px; float: left; margin: 0 0 0 11px;}
.reviewsbox .allreviews {margin: 0 0 15px; text-align: center; font: bold 12px Tahoma;}

/* Анонс 1 */
.extrasens_page .anonse1 {float: left; width: 604px; margin: 0 0 15px 10px; padding: 10px;}
.extrasens_page .anonse1 article {float: left; width: 365px; display: block;}
.extrasens_page .anonse1 .img {float: right; width: 231px; position: relative;}
.extrasens_page .anonse1 .img img {width: 231px; height: 211px;}
.extrasens_page .anonse1 .img b {background: url(../images/skrepka.png) no-repeat; width: 29px; height: 42px; display: block;
                                 position: absolute; top: -25px; right: 5px;}
.extrasens_page .anonse1 h3 {font: 14px Tahoma; margin: 0 10px 10px;}
.extrasens_page .anonse1 p {margin: 10px;}
.extrasens_page .anonse1 a {color: #27419c;}
.extrasens_page .anonse1 .cost {background: #f8f5d8; border: 0; box-shadow: none; float: left; width: 100%; padding: 10px 0;}
.extrasens_page .anonse1 .cost em {color: #999; font: 23px Trebuchet MS, Arial; float: left; margin: 4px 0 0 5px;}
.extrasens_page .anonse1 .cost em b {color: #27419c; font-weight: normal;}
.extrasens_page .anonse1 .cost .buttons {float: right; font: 16px Trebuchet MS, Arial; margin: 0 10px 0 0;}
.extrasens_page .anonse1 .cost .buttons a {float: left; display: block; margin: 0 0 0 2px; line-height: 38px;
                                           text-align: center; text-decoration: none; text-transform: uppercase; color: #fff;}
.extrasens_page .anonse1 .cost .buttons a.zakaz {background: url(../images/button10.png) 0 0 no-repeat; width: 103px;
                                                 text-shadow: 1px 1px 0 #71a61b;}
.extrasens_page .anonse1 .cost .buttons a.foto {background: url(../images/button10.png) -106px 0 no-repeat; width: 139px;
                                                text-shadow: 1px 1px 0 #ad91b5; font-size: 14px;}

/* Анонс 2 */
.extrasens_page .anonse2 {float: left; width: 604px; margin: 0 0 15px 10px; padding: 10px;}
.extrasens_page .anonse2 img {float: left; width: 190px; height: 181px; margin: 0 20px 0 0;}
.extrasens_page .anonse2 .title {font: 15px Tahoma; display: block; margin: 0 0 15px;}
.extrasens_page .anonse2 a {color: #27419c;}
.extrasens_page .anonse2 a.more {background: url(../images/arrow3.png) right 5px no-repeat; padding-right: 10px;}

/* Разделитель */
.extrasens_page hr {border: 0; border-bottom: 1px dashed #ccc8dd; width: 99.9%; float: left; padding: 0; margin: 0 0 15px;}

/* График работы */
.extrasens_page .schedule {width: 100%; border-collapse: collapse; color: #584c90; font: 12px Tahoma; margin: 0 0 10px;}
.extrasens_page .schedule th {background: #eadcee; color: #611486; font: 13px Tahoma; height: 35px;}
.extrasens_page .schedule td {height: 24px;}
.extrasens_page .schedule td, .extrasens_page .schedule th {text-align: center; width: 14.285%;}
.extrasens_page .schedule .row td {background: #f6f0f8;}

.warn_time {background: url(../images/star.png) 0 1px no-repeat; color: #79c50f; font: 13px Tahoma; padding: 0 0 0 20px;
            float: right; margin: 0 20px;}


/* Чат со мной */
.chatitem hr {float: left; padding: 0; width: 100%; border: 0; border-bottom: 1px dashed #ccc8dd; margin: 5px 0;}
.chatitem {float: left; padding: 0 0 7px;  font: 13px Arial; width: 624px; color: #7f7f7f; margin: 0 0 7px 11px;
           border-bottom: 1px dashed #ccc8dd;}
.chatitem article {float: left; padding: 5px 10px 0; background: #fdfadd; width: 604px;
                   border-radius: 0 10px 10px 10px; -moz-border-radius: 0 10px 10px 10px; -webkit-border-radius: 0 10px 10px 10px;}
.chatitem article p {margin: 5px 0 10px;}
.chatitem .ttl {margin: 0 0 5px; display: block;}
.chatitem article span {display: block;}
.chatitem article a {color: #27419c;}
.chatitem .date {background: #c49db8; color: #fff; font: 12px Trebuchet MS, Arial; position: absolute !important;
                 top: 10px; right: 10px; padding: 0 7px; border-radius: 11px; -moz-border-radius: 11px; -webkit-border-radius: 11px;}
.chatitem_answer {background: #f0e7f5 !important;}
.chatitem_answer .date {background: #b78ad0;}

.chatformbox {margin: 0 auto; width: 469px;}
.chatformbox .ttl {margin: 0 0 5px;}
.chatformbox textarea {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #cdcdcd;
                       width: 453px; padding: 5px 7px; height: 114px; resize: none; color: #656565; font: 13px Tahoma; margin: 0 0 10px;}
.chatformbox .submit {background: url(../images/button9.png) no-repeat; border: 0; cursor: pointer; color: #fff;
                      text-transform: uppercase; width: 121px; padding: 4px 0 6px; font: 12px Trebuchet MS, Arial; margin: 0 auto; display: block;}
.chatformbox2 {width: 605px;}
.chatformbox2 textarea {width: 605px;}
.chatformbox2 .inp {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #cdcdcd;
                    width: 605px; padding: 3px 7px 4px; color: #656565; font: 13px Tahoma; margin: 0 0 5px;}


/* ============================================= */
/* ======= Личный кабинет эксперта ========= */
/* ============================================= */


.expcab_page {float: left; width: 644px; margin: 0 0 30px 10px; font: 13px Tahoma; color: #7f7f7f;}
.m_top {margin-top: 100px;}
.expcab_page a {color: #fff;}
.expcab_page .submit1 {background: url(../images/kab_eksp_sub1.jpg) 0 0 repeat-x; font:normal 12px 'Tahoma'; color: #fff; border-radius: 4px; border-style: none; padding: 0 12px; height: 23px; width: 137px; cursor: pointer; margin: 0 0 8px 0;}
div.small-ava{background: url(../images/ramka6.png) 0 0 no-repeat; margin: 10px 0 5px 90px; width: 103px; height: 99px; padding: 4px 0 0 2px;}

div.expcab_nav{}
ul.bread-exp{padding: 0; margin: 0; list-style: none;}
ul.bread-exp li{display: inline; background: url(../images/exp-menu-bul.jpg) 0 50% no-repeat;}
ul.bread-exp li:first-child{background: none;}
ul.bread-exp li a{font: normal 12px/45px 'Tahoma'; color: #666; text-decoration: underline; padding: 0 6px 0 15px;}
ul.bread-exp li :hover{text-decoration: none;}
ul.bread-exp li :active{text-decoration: none;}

/* Заголовок */
.expcab_page .head {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; margin: 0 0 0px; padding: 0 0 10px;}
.expcab_page h1 {font: 22px Trebuchet MS, Arial; color: #c864ad; float: left; margin: 0 0 0 20px;}
.expcab_page h2 {font: 18px Trebuchet MS, Arial; color: #c864ad; float: left; width: 634px; margin: 20px 0 30px 10px; background: url(../images/arrow4.png) 0 6px no-repeat; padding: 0 0 0 15px;}
.usercab_page a.all {color: #fff; float: right; font: 12px Tahoma; background: url(../images/button3.png) center 0 no-repeat;
                     display: block; text-align: center; text-decoration: none; padding: 2px 7px 4px; margin: 4px 0 0;}

.expcab_page .block {float: left; width: 642px; padding: 0 0 10px; margin: 0 0 15px;}
.expcab_page .block2 {padding: 0; border: 0;}
.expcab_page img{border-radius: 2px; border: solid 1px #ccc; float: left; margin: 0 10px 0 0;}

/* Мои сообщения */
.expcab_page .mymess {float: left; width: 622px; padding: 7px 10px 10px; margin: 0 0 10px;}
.expcab_page .mymess .name {display: block; font: 16px Tahoma; margin: 0; padding-left: 25px;}
.expcab_page .mymess .ui-state-default {background: url(../images/mess1.jpg) 0 5px no-repeat;}
.expcab_page .mymess .ui-state-active {background: url(../images/mess2.jpg) 0 0 no-repeat;}
.expcab_page .mymess .date {background: #b2d231; color: #fff; font: 12px Trebuchet MS, Arial; position: absolute !important;
                            top: 10px; right: 10px; padding: 0 7px; border-radius: 11px; -moz-border-radius: 11px; -webkit-border-radius: 11px;}
.expcab_page .std-table{border-radius: 3px 3px 0 0; color: #666; text-align: center; width: 100%; border-collapse: collapse;}
.expcab_page .std-table th{background:url(../images/kabexp_sep.jpg) 0 50% no-repeat #d1e999; padding: 18px 0; width: 180px;}
.expcab_page .std-table th:first-child{background: #d1e999;}
.expcab_page .std-table th.last{width: 70px;}
.expcab_page .std-table tr{border-bottom: dashed 1px #ccc8dd;}
.expcab_page .std-table tr:first-child{border-bottom: none;}
.expcab_page .std-table td{ padding: 7px 0 7px 5px;}
.expcab_page .std-table td:first-child{text-align: left;}
.expcab_page .std-table a{color: #7065a0; text-decoration: none;}
.expcab_page .std-table a:hover{text-decoration: underline;}

.expcab_page .std-table2{border-radius: 3px 3px 0 0; color: #666; text-align: center; width: 100%; border-collapse: collapse;}
.expcab_page .std-table2 th{background:url(../images/kabexp_sep.jpg) 0 50% no-repeat #d1e999; padding: 18px 0; width: 180px;}
.expcab_page .std-table2 th:first-child{background: #d1e999;}
.expcab_page .std-table2 th.last{width: 80px;}
.expcab_page .std-table2 tr{border-bottom: dashed 1px #ccc8dd;}
.expcab_page .std-table2 tr:first-child{border-bottom: none;}
.expcab_page .std-table2 td{ padding: 7px 0 7px 5px; text-align: left;}
.expcab_page .std-table2 a{color: #7065a0; text-decoration: none;}
.expcab_page .std-table2 a:hover{text-decoration: underline;}
.expcab_page .std-table2 a.photo{background: url(../images/skrepka2.png) 0 50% no-repeat; padding-left: 20px; color: #7065a0 !important;}


.expcab_page .history-table{width: 100%; background: #fff; font:normal 13px 'Tahoma'; color: #6c6c6c; margin: 0; padding: 0;}
.expcab_page .history-table th{background: #dedcf7; padding: 10px 0 10px 12px;}
.expcab_page .history-table tr{border-top: solid 1px #fff; border-bottom: solid 1px #fff;}
.expcab_page .history-table tr:nth-child(odd) {background: #f0e7f5;}
.expcab_page .history-table tr:nth-child(even) {background: #fdfadd;}
.expcab_page .history-table td{border-radius: 3px; padding: 10px 0;}
.expcab_page .history-table span.date{font-size: 11px;}
.expcab_page .history-table a.name{color: #7065a0; text-decoration: none; margin-right: 15px;}
.expcab_page .history-table a.name:hover{text-decoration: underline;}

.expcab_page .answer-table{width: 100%; font:normal 13px 'Tahoma'; color: #6c6c6c; margin: 0; padding: 0;}
.expcab_page .answer-table tr{border-top: solid 1px #fff; border-bottom: solid 1px #fff;}
.expcab_page .answer-table td{border-radius: 3px; padding: 10px; background: #fdfadd;}
.expcab_page .answer-table span.date{font-size: 11px;}
.expcab_page .answer-table a.name{color: #7065a0; text-decoration: none; margin-right: 15px;}
.expcab_page .answer-table a.name:hover{text-decoration: underline;}
.expcab_page .answer-table a.photo{background: url(../images/skrepka2.png) 0 50% no-repeat; padding-left: 20px; color: #7065a0 !important;}
div.ans{width: 560px; float: right;}

.expcab_page .submit {background: url(../images/button9.png) no-repeat; border: 0; cursor: pointer; color: #fff; text-transform: uppercase; width: 121px; padding: 4px 0 6px; font: 12px Trebuchet MS, Arial; display: block; float: right; margin-right: -15px;}

/* постраничная навигация */
a.pag-exp{color: #c864ad;}





/* ============================================= */
/* ======= Личный кабинет пользователя ========= */
/* ============================================= */
.usercab_page {float: left; width: 644px; margin: 0 0 30px 10px; font: 13px Tahoma; color: #7f7f7f;}
.usercab_page a {color: #fff;}



/* Заголовок */
.usercab_page .head {float: left; width: 100%; border-bottom: 1px dashed #ccc8dd; margin: 0 0 10px 0px; padding: 0 0 10px;}
.usercab_page h1 {font: 22px Trebuchet MS, Arial; color: #c864ad; float: left; margin: 0 0 0 20px;}
.usercab_page h2 {font: 18px Trebuchet MS, Arial; color: #c864ad; float: left; width: 634px; margin: 0 0 10px 10px;
                  text-transform: uppercase; background: url(../images/arrow4.png) 0 6px no-repeat; padding: 0 0 0 15px; cursor: pointer;}
.usercab_page a.all {color: #fff; float: right; font: 12px Tahoma; background: url(../images/button3.png) center 0 no-repeat;
                     display: block; text-align: center; text-decoration: none; padding: 2px 7px 4px; margin: 4px 0 0;}

.usercab_page .block {float: left; width: 642px; padding: 0 0 10px; border-bottom: 1px dashed #ccc8dd; margin: 0 0 15px;}
.usercab_page .block2 {padding: 0; border: 0;}

/* Мои сообщения */
.usercab_page .mymess {float: left; width: 622px; padding: 7px 10px 10px; margin: 0 0 10px;}
.usercab_page .mymess .name {display: block; font: 16px Tahoma; margin: 0; padding-left: 25px;}
.usercab_page .mymess .ui-state-default {background: url(../images/mess1.jpg) 0 5px no-repeat;}
.usercab_page .mymess .ui-state-active {background: url(../images/mess2.jpg) 0 0 no-repeat;}
.usercab_page .mymess a {color: #584c90;}
.usercab_page .mymess .date {background: #b2d231; color: #fff; font: 12px Trebuchet MS, Arial; position: absolute !important;
                             top: 10px; right: 10px; padding: 0 7px; border-radius: 11px; -moz-border-radius: 11px; -webkit-border-radius: 11px;}
.usercab_page .mymess img {float: left; margin: 0 15px 0 0;}

/* Сортировка */
.sortbox {background: #dedcf7; color: #5b5b5b; float: left; padding: 10px 0; width: 100%; margin: 0;}
.sortbox span, .sortbox .inp, .sortbox a.submit, .sortbox .selectbox {float: left;}
.sortbox span, .sortbox a.submit {margin: 3px 5px 0;}
.sortbox a.submit {color: #655a9a; margin-right: 5px;}
.sortbox .inp {width: 130px; background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #b6b5ba;
               color: #616161;	font: 13px Tahoma; padding: 2px 7px 3px;}
.sortbox .right {float: right; margin: 0 8px 0 0;}
.sortbox .itog {margin-right: 30px; width: 200px; display: block;}

/* Таблица */
.tablemess {float: left; width: 100%; font: 13px Tahoma; color: #6c6c6c; border-collapse: collapse;}
.tablemess tr {background: url(../images/dash3.png) bottom repeat-x;}
.tablemess th {height: 37px; text-align: left; color: #5c5c5c; font-weight: normal;}
.tablemess th, .tablemess td {padding: 10px;}
.tablemess td {padding: 10px; vertical-align: top;}
.tablemess td.name {width: 220px; color: #7065a0;}
.tablemess td.call {width: 115px; color: #7065a0;}
.tablemess td.sost {width: 95px;}

.tablemess td.name span {position: relative; float: left; width: 170px;}
.tablemess td.name span img {float: left; width: 48px; height: 51px; margin: 0 10px 0 0;}
.tablemess td.name a.fotogallery {color: #611486; text-decoration: none; padding: 3px 0; border: 1px solid #dedede;
                                  position: absolute; top: 20px; left: 40px; width: 210px; text-align: center; display: none;
                                  background: #fff url(../images/grad6.jpg) 0 0 repeat-x;}
.tablemess td.name span:hover a.fotogallery {display: block;}
.tablemess a.add {display: block; background: url(../images/add.png) no-repeat; width: 18px; height: 17px; text-indent: -9999px;
                  float: right;}

/* Ответ на услугу */
.answerbox {color: #7065a0; margin: 0 20px 15px;}
.answerbox .name {float: left; width: 185px; margin: 0 30px 0 0;}
.answerbox .date {float: left; color: #d17ebb;}
.answerbox .name img {float: left; width: 48px; height: 51px; margin: 0 10px 0 0;}


/* График работы */
.graphicbox {float: left; width: 100%; position: relative; color: #7f7f7f;}
.graphicbox em {position: absolute; right: 20px; top: 15px; display: block; width: 180px; color: #7b72a8; font-size: 12px;}
.graphicbox .left {float: left; width: 100%; border-bottom: 1px dashed #ccc; padding: 15px 0;}
.graphicbox .left2 {border: 0;}
.graphicbox label {float: left; margin: 3px 10px 0 0; text-align: right; width: 60px;}
/*.graphicbox span {float: left; margin: 3px 5px;}*/
.graphicbox span {margin: 3px 5px;}
.graphicbox .selectbox {float: left; margin: 0 1px 5px 0;}
.graphicbox .inp {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #b6b5ba;
                  color: #7d7d7d;	font: 12px Tahoma; padding: 3px 5px 5px; width: 78px; float: left; margin: 0 0 7px;}
.graphicbox .submit
{background: #fff url(../images/button88.png) no-repeat; border: 0; text-transform: uppercase;
                    color: #fff; font: 11px Tahoma; padding: 5px 0 6px; width: 90px; float: left; cursor: pointer; margin: 0 0 0 70px;}
.answerbox .submit{
	background-color: #fff ; border: 1px solid #dedede; text-transform: uppercase; display: block;
    color: #C00000; font-weight: bold ;font: 16px "trebuchet ms, arial" ; padding: 5px 20px 5px 20px;  cursor: pointer; margin: 0 auto;
}
.show_button{
	background-color: #fff ; text-transform: uppercase; display: block;
    color: #C00000; font: 16px "trebuchet ms, arial" ; padding: 5px 20px 5px 20px;  margin: 0 auto;
	width: 50%;
	text-align: center;
}
.show_button a{
	text-decoration: none;
    color: #C00000; font-weight: bold ;
}
.answere_message{
	background-color: #a3d7ff !important;
}
.warning_message{
	text-transform: uppercase;
	font: 13px "trebuchet ms, arial" ;
	display: none;
}

.graphicbox a.add_day {float: left; text-decoration: none; color: #fff; font-size: 12px; background: #c49ed8;
                       padding: 1px 7px 3px; margin: 3px 0 0 80px;}

/* Тарифы */
.tarifbox {padding: 15px 0;}
.tarifbox label {width: 140px; margin-right: 5px;}
.tarifbox i {color: #7b72a8; float: left; margin: 3px 0 0 10px;}
.tarifbox .submit {margin: 5px 0 0 145px;}
.tarifbox .inp470 {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #cccccd;
                   color: #7d7d7d;	font: 12px Tahoma; padding: 3px 5px 5px; width: 460px; float: left; margin: 0 0 7px;}
.tarifbox .text470 {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #cccccd; height: 116px;
                    color: #7d7d7d;	font: 12px Tahoma; padding: 3px 5px 5px; width: 460px; float: left; margin: 0 0 7px; resize: none;}
.tarifbox a.add_day2 {float: right; text-decoration: none; color: #fff; font-size: 12px; background: #c49ed8;
                      padding: 1px 7px 3px; margin: 8px 30px 0 0;}


/* МОЙ ПРОФАЙЛ */
.myprofileform {float: left; width: 100%; position: relative; padding: 0 0 15px; color: #7f7f7f;}
.myprofileform .field, .myprofileform p {display: block; float: left; margin: 0 0 4px; width: 100%;}
.myprofileform label {float: left; margin: 3px 10px 0 0; text-align: right; width: 235px;}
.myprofileform a.how {float: left; margin: 3px 0 0 5px; display: block; width: 18px; height: 18px;
                      background: url(../images/how.png) no-repeat;}
.myprofileform .selectbox {float: left; margin: 0 2px 0 0;}
.myprofileform .inp {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #b6b5ba;
                     color: #7d7d7d;	font: 12px Tahoma; padding: 3px 5px 5px; width: 259px; float: left; margin: 0 2px 0 0;}
.myprofileform .small-inp{width: 100px;}
.myprofileform .submit, .order-this .submit  {background: url(../images/button10.png) no-repeat; border: 0; text-transform: uppercase;
                                              color: #fff; font: 16px Trebuchet MS, Arial; padding: 8px 0 12px; width: 104px; float: left; cursor: pointer; 
                                              margin: 7px 0 0 245px;}


/* МОИ ФОТОГРАФИИ */
.myphotosbox {float: left; width: 95%; position: relative; color: #8e8e8e; margin: 0 0 0 23px;}
.myphotosbox img {float: left; margin: 0 3px 10px 0;}
.myphotosbox .warn {float: left; margin: 20px 3px 10px 0; background: url(../images/warn.png) 0 3px no-repeat;
                    padding-left: 30px; width: 300px;}


/* МОИ ЗАКАЗЫ */
.myzakbox {float: left; width: 100%; position: relative; color: #7f7f7f; margin: 0 0 10px; padding: 10px 0;}
.myzakbox .imgs {float: right; width: 210px; margin: 0 10px;}
.myzakbox .imgs img {float: left; width: 98px; height: 90px; margin: 0 0 7px 7px;}
.myzakbox .desc {float: left; width: 390px; margin: 0 0 0 15px;}
.myzakbox .desc .meta {float: left; width: 100%; margin: 0 0 10px;}
.myzakbox .desc .meta .author {float: left; font: 14px Arial;}
.myzakbox .desc .meta .author a {color: #584c90;}
.myzakbox .desc .meta .date {background: #b2d231; color: #fff; font: 12px Trebuchet MS, Arial; padding: 0 7px; float: right;
                             margin: 2px 0 0;}
.myzakbox .desc .title {font: 14px Arial; margin: 0 0 20px;}
.myzakbox .desc .cost {font: 24px Trebuchet MS, Arial; color: #999;}
.myzakbox .desc .cost b {color: #27419c; font-weight: normal;}




/* ЗАКАЗ КОНСУЛЬТАЦИИ */
.zakaz_page {float: left; width: 98%;padding: 0;margin: 0 0 30px 10px; font: 13px Tahoma; color: #7f7f7f;}
.zakaz_page h1 {margin: 0 0 20px; font: 22px Trebuchet MS, Arial; color: #c864ad;
                text-transform: uppercase; border-bottom: 1px dashed #ccc8dd; padding: 0 0 10px 10px;}
.zakaz_page .zakaz_page_block {float: left; width: 100%; margin: 0 0 100px; padding: 20px 0;}
.zakaz_page .zakaz_page_block h2 {color: #c864ad; font: 16px Tahoma; margin: 20px;}
.zakaz_page .zakaz_page_block p {margin: 10px 20px;}
.zakaz_page .zakaz_page_block p {margin: 10px 20px;}
.zakaz_page .zakaz_page_block ul {margin: 10px 20px;}
.zakaz_page .zakaz_page_block ul li {background: url(../images/bull1.png) 0 6px no-repeat; padding-left: 10px; margin: 5px 0;}

/* Форма */
.zakaz_page .formblock {background: #fdfadd; float: left; width: 460px; padding: 10px 0 20px 15px; box-shadow: none;
                        margin: 0 0 15px 5px; border: 0;}
.zakaz_page .formblock label {width: 155px; display: block; float: left; margin: 6px 5px 0 0;}
.zakaz_page .formblock span {float: left; margin: 6px 0 0 10px;}
.zakaz_page .formblock .selectbox {float: left; margin: 0 2px 5px 0;}
.zakaz_page .formblock .inp {background: #fff url(../images/grad3.jpg) 0 0 repeat-x; border: 1px solid #b6b5ba;
                             color: #616161;	font: 12px Tahoma; padding: 8px 7px 9px; width: 188px; margin: 0 0 5px;}
.zakaz_page a {color: #27419c;}

/* Итого */
.zakaz_page .itog {color: #c864ad; font: 16px Trebuchet MS, Arial; margin: 0 0 20px 20px;}
.zakaz_page .itog b {color: #584c90; font-size: 18px; font-weight: normal;}
.zakaz_page .submit {color: #fff; font: 16px Trebuchet MS, Arial; width: 265px; cursor: pointer; border: 0;
                     background: url(../images/button12.png) no-repeat; padding: 7px 0 11px; margin: 0 auto; display: block;}

/* Фото */
.zakaz_page .imgbox {position: absolute; top: 15px; right: 15px; text-align: center; color: #584c90;}
.zakaz_page .imgbox .img {position: relative; width: 131px; height: 131px; margin: 0 0 3px;}
.zakaz_page .imgbox .img b {background: url(../images/ramka5.png) no-repeat; width: 131px; height: 131px; display: block;
                            position: absolute; top: 0; bottom: 0;}
.zakaz_page .imgbox .img img {float: left; width: 121px; height: 117px; margin: 3px 0 0 5px;}
.zakaz_page .imgbox .name {font: 16px Tahoma; margin: 0 0 3px;}
.zakaz_page .imgbox .name a {color: #584c90; padding-left: 17px;}
.zakaz_page .imgbox .online a {background: url(../images/online3.png) 0 4px no-repeat;}
.zakaz_page .imgbox .busy a {background: url(../images/online3.png) 0 -52px no-repeat;}
.zakaz_page .imgbox .autonomous a {background: url(../images/online3.png) 0 -25px no-repeat;}

/* Предупреждение */
.zakaz_page .warn2 {background: #f9c7ff url(../images/warn2.png) center 14px no-repeat; width: 255px;
                    color: #854d99; padding: 55px 15px 20px 20px; border: 0; box-shadow: none; margin: 0 auto;}
.zakaz_page .warn2 a {color: #8524a7;}








/* Clearfix */
.clr {clear: both;}
.clr15 {clear: both; height: 15px;}

/* Блок с тенью */
.shadowblock {
    background: #fff; border: 1px solid #eee;
    border-radius: 0 10px 10px 10px; -moz-border-radius: 0 10px 10px 10px; -webkit-border-radius: 0 10px 10px 10px;
    box-shadow: 1px 1px 0 #eee; -moz-box-shadow: 1px 1px 0 #e4e4e4; -webkit-box-shadow: 1px 1px 0 #e4e4e4; 
}

/* Блок с тенью 2 */
.shadowblock2 {
    background: #fff url(../images/grad4.jpg) bottom repeat-x; border: 1px solid #eee;
    border-radius: 10px 10px 10px 0; -moz-border-radius: 10px 10px 10px 0; -webkit-border-radius: 10px 10px 10px 0;
    box-shadow: 1px 1px 0 #eee; -moz-box-shadow: 1px 1px 0 #e4e4e4; -webkit-box-shadow: 1px 1px 0 #e4e4e4; 
}

/* Радиус 5 */
.border3 {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.border5 {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.border10 {border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}


/* INPUT FILE's */
.filebody {float: left; width: 621px; margin: 0 0 10px;}
.filebody label {float: left; margin: 3px 0 0;}
.filebox {float: right; position: relative;}
.filebox .mask {width: 370px; height: 24px; padding: 3px 130px 0 7px; background: url(../images/file.png) no-repeat;}
.filebox #fileInputText {padding: 0; margin: 0; width: 370px; color: #616161; font: 13px Tahoma; background: 0; border: 0;}
.filebox #fileInput {width: 507px; height: 24px; position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0);}

.filebox2 {float: left; position: relative;}
.filebox2 .mask {width: 251px; height: 24px; padding: 3px 102px 0 5px; background: url(../images/file2.png) no-repeat;}
.filebox2 #fileInputText2 {padding: 0; margin: 0; width: 251px; color: #616161; font: 13px Tahoma; background: 0; border: 0;}
.filebox2 #fileInput2 {width: 358px; height: 24px; position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0);}

.filebox3 {float: left; position: relative; margin: 0 3px 10px 0; width: 98px; height: 90px;}
.filebox3 .mask {width: 98px; height: 90px; padding: 3px 102px 0 5px; background: url(../images/addfoto.png) no-repeat;}
.filebox3 #fileInput3 {width: 98px; height: 90px; position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0);}

.filebox4 {float: left; position: relative; margin: 0 0 10px;}
.filebox4 .mask {width: 170px; padding: 7px 0;}
.filebox4 #fileInput4 {width: 170px; position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0);}


/* ====================
        CSS3 PIE
==================== */
header .socialbox, header .loginbox, header .loginbox .inp, header .helpbox, .middlewrap, .goroskopbox .box1 b, .border5, .border10,
.expertitem .name a.comlink, .expertitem .review, .subscribebox .in, aside .socialsidebox, footer .phone span, .chatitem .date, .border3,
.articlebox a.all, .registerform .field .inp, .registerpage article, ul.alphabet, #tabsbox .tabhead li a, .chatitem article, .shadowblock2,
.shadowblock, .reviewsbox .review, .usercab_page .mymess .date {position: relative; /*behavior: url(PIE.htc);*/}
/* ====================
        CSS3 PIE (end)
==================== */


.my_msg_list{}
.my_msg_list .name{background: url('../images/mess1.jpg') left center no-repeat;font-size: 13px;}
.my_msg_list .user_info{float: left;width: 100px;text-align: center;}
.my_msg_list .user_info img{width: 82px;}
.my_msg_list .lnk-name{margin: 0;font-size: 14px;}
.my_msg_list .user_msg{padding-left: 82px;}
.user_msg p{padding-top: 0px !important;padding-bottom: 0px !important;margin-top: 0px !important;margin-bottom: 0px !important;}
.my_msg_list .name.new_msg{background-image: url('../images/mess2.jpg');}
.my_msg_list .user_name{display: inline-block;width: 150px;}
.my_msg_list .name i{font-size: 12px;display: inline-block;width: 350px;}
.my_msg_list .name i, .my_msg_list .user_name{vertical-align: middle;}



.fLeft{float: left;}
.fRight{float: right;}
img.fLeft{margin: 0 10px 5px 0;}
img.fRight{margin: 0 0 5px 10px;}
.all_posts .my_posts{border-bottom: 1px dashed #ccc8dd;font-size: 13px;position: relative;padding-bottom: 15px;padding-left: 15px;margin-bottom: 20px;}
.all_posts .my_posts p{padding-left: 180px;padding-bottom: 0;}
.all_posts .my_posts img{width: 165px;}
.lnk-more{position: absolute;bottom: 10px;right: 0;}
.lnk-more:visited{color: #963888;}
.my_posts{margin-bottom: 25px;}
.my_posts img{border-radius: 0 7px 7px 7px;border: 1px solid #963888;}
.my_posts .post_header{font-size: 14px;margin-bottom: 20px}
.my_posts .post_header b{font-size: 18px;font-weight: normal;color:#27419c;margin-right: 15px;}
.my_posts .post_header a{color: #c864ad;text-decoration: none;}
.my_posts .post_header a:hover{text-decoration: underline;}


.bottom-shadow{background: url('../images/bg-shadow-bottom.png') 5px bottom no-repeat;padding-bottom: 12px;}
.over-hide{overflow: hidden;}
.bottom-shadow .over-hide .over-inner{margin-left: -120px;}
#online-divination{margin: 0;padding: 0;list-style: none;font-size: 16px;}
#online-divination li{float: left;margin-left: 120px;margin-top: 20px;;margin-bottom: 50px;list-style: none;width: 240px;padding: 0;background: none;}
#online-divination li a{color: #d74b94;}
#online-divination li.active a{text-decoration: none;}

.commentWrap{font-size: 14px;padding-top: 25px;}
.commentWrap .commentstat{background: #fce7f7;color: #7f7f7f;padding: 5px 6px;margin-bottom: 20px}
.commentWrap .commentform{background: #fdfcf6;padding:0 0 10px;}
.commentWrap .commentform .chatformbox{width: 100%;text-align: center;}
.commentWrap .commentform .chatformbox textarea{resize: vertical;width: 94%;}
.commentWrap .commentform .chatformbox .submit{margin-left: 10px;margin-right: 0;}

ul.commentAnswers{margin: 0;list-style: none;border-bottom: 1px dashed #cfccdf;}
ul.commentAnswers ul{padding-left: 60px;border-bottom: none;}
ul.commentAnswers li .commentform{margin: 15px;margin-right: 0;}
ul.commentAnswers li .commentform .chatformbox{padding-top: 10px;}
ul.commentAnswers li .commentform .submit{margin-left: auto !important;margin-right: 7px !important;}
ul.commentAnswers li+li{border-top: 1px dashed #cfccdf;}
ul.commentAnswers div.rowComment{padding: 20px 0 15px;}
ul.commentAnswers div.rowComment h4{font-size: 16px;color: #27419c;font-weight: normal;}
ul.commentAnswers div.rowComment p, ul.commentAnswers div.rowComment h4{margin: 0 0 10px;}
ul.commentAnswers div.rowComment p{min-height: 50px;}
ul.commentAnswers div.rowComment img{margin-left: 37px;max-width: 94px;width: 94px;border: 1px solid #b69fba;border-radius: 5px;}
ul.commentAnswers div.rowComment .answer{margin-left: 153px;}
ul.commentAnswers div.rowComment .foot{font-size: 12px;}
ul.commentAnswers div.rowComment .date{display: inline-block;background: #b2d231;color: #fff;padding: 1px 10px 2px;border-radius: 5px;}
ul.commentAnswers div.rowComment .reply{text-decoration: none;}


.banner{padding-top: 25px;text-align: center;}

.contact-wrap article{padding-bottom: 70px !important;background: #FFF url('../images/bg-contact-bottom.png') bottom repeat-x;margin-bottom: 30px;}
.contact-wrap .contact-desc{width: 440px;}
.contact-lnk{width: 130px;}
.contact-lnk ul{
    margin: 0;
}
.contact-lnk ul li{background:  url('../images/icon-contact.png')  no-repeat !important;padding-left: 25px !important;}
.contact-lnk ul li a{line-height: 1.6;color: #727272;text-decoration: none;}
.contact-lnk ul .i-mail{background-position: 0 0  !important;}
.contact-lnk ul .i-skype{background-position: 0 bottom  !important;}

.p-info{padding: 15px 50px;}

.service-wrap{}
.service-wrap .expertitem .rightbox .txt{width: 355px;color: #262626;}
.service-wrap .expertitem .rightbox .txt .txt-title{color: #584c90;font-size: 15px;font-weight: normal;padding: 10px 0 0;}
.service-wrap .expertitem .rightbox .txt p a{color: #584c90;text-decoration: none;}
.service-wrap .expertitem .rightbox .txt p a:hover{text-decoration: underline;}
.service-wrap .price{font-size: 24px;color: #27419c;font-family: Trebuchet MS;}
.service-wrap .price-type{color: #999;}
.order-this .submit{float:none;text-align: center;text-decoration: none;display: block;margin: 0;}
.order-this .submit:hover{opacity: 0.9}


.forecast{}
.forecast .shadowblock{padding: 10px 3% 20px !important;position: relative;}
.forecast .lnk-title{border-bottom: 1px solid #b60687;padding-bottom: 2px;min-width: 50px;font-size: 19px;color: #7561a0;font-weight: normal;float: left;}
.forecast .lnk-title a{color: #b60687;text-decoration: none;margin-right: 10px;}
.forecast-date{font-size: 13px;}
.horoscope-title{font-size: 25px;color: #38c0e7;font-weight: normal;padding-top: 15px;}
.forecast .icon-horoscp{position: absolute;top: 15px;right: 15px;}


.horoscope-wrap{background: url('../images/bg-beauty-bottom.jpg') 0 bottom repeat-x;padding: 15px;padding-bottom: 75px;border-radius:0 0 8px 8px;border: 1px solid #d4d3ec;position: relative;}
.horoscope-wrap .head-wrap{border-bottom: 1px solid #b23a92;}
.horoscope-wrap .head-wrap h3{font-size: 16px;color: #2c459e;text-transform: uppercase;margin-bottom: 10px;}
.horoscope-wrap .head-wrap h3, .horoscope-wrap .content-wrap h5, .horoscope-wrap .foot-wrap{font-family: Trebuchet MS;}
.horoscope-wrap .content-wrap{padding: 10px 0;}
.horoscope-wrap .content-wrap h5{font-size: 16px;color: #c864ad;}
.horoscope-wrap li{margin: 0 20px 20px;list-style:none;width: 105px;text-align: center;font-size: 16px;display: inline-block;vertical-align: middle;}
.horoscope-wrap li a{font-weight: bold;color: #2c459e;text-decoration: none;}
.horoscope-wrap li a:hover{color: #c864ad;text-decoration: underline;}
.horoscope-wrap li a:hover img{opacity: 0.9;}
.horoscope-wrap .foot-wrap{position: absolute;bottom: 3px;left:15px;right:15px;}
.horoscope-wrap .foot-wrap a{text-transform: uppercase;text-decoration: none;color: #2c459e}
.horoscope-wrap .foot-wrap p{text-align: center;font-weight: bold;}
.horoscope-wrap .skl, .horoscope-wrap .skl2{bottom: 37px;top: auto;}


.right-my-button{
    float: right;
    margin-top: -14px;
}



table.extra-mail-table{width: 635px; border-collapse: collapse; border-spacing: 0;}
table.extra-mail-table tr{border-bottom: dashed 1px #ccc8dd;}
table.extra-mail-table tr:first-child{border-bottom: dashed 1px transparent;}
table.extra-mail-table tr.second{border-top: dashed 1px transparent;}
table.extra-mail-table tr th{background: #cfe899; font: normal 13px 'Tahoma'; color: #5c5c5c; text-align: center; height: 52px;}
table.extra-mail-table tr th:first-child{width: 185px; border-radius: 3px 0 0 3px;}
table.extra-mail-table tr th.second{width: 280px;}
table.extra-mail-table tr th.last{width: 170px; border-radius: 0 3px 3px 0;}
table.extra-mail-table tr td{font: normal 13px 'Tahoma'; color: #666;  padding: 11px 10px;}
table.extra-mail-table tr td.last{text-align: center;}
table.extra-mail-table a{font: normal 13px 'Tahoma'; color: #7065a0; text-decoration: underline;}
table.extra-mail-table a:hover{text-decoration: none;}
img.extra-avatar{display: inline-block; margin:0 11px 0 0; float: left;}
a.extra-title{font: normal 13px 'Tahoma'; color: #666 !important; text-decoration: underline;}
a.extra-title:hover{text-decoration: none;}





/* Сортировка */
.sortbox-expert {background: #dedcf7; color: #5b5b5b; float: left; padding: 10px 0; width: 100%; margin: 0 0 30px 0;}


/* ПОСТРАНИЧНАЯ НАВИГАЦИЯ */
.pagination {float: left; width: 100%; font: 13px Arial; color: #5c538f; text-align: center;}
.pagination a {color: #c864ad; text-decoration: none;}
.pagination span, .pagination a {margin: 0 5px;}
.pagination a.prev {color: #5c538f; background: url(images/prev.png) no-repeat; padding: 0 12px 3px 22px; margin: 0;}
.pagination a.next {color: #5c538f; background: url(images/next.png) no-repeat; padding: 0 22px 3px 10px; margin: 0;}   

.my_msg_list2{width: 635px; margin: 20px 0 0 0; font: normal 14px 'Tahoma'; color: #7f7f7f;}
.my_msg_list2 img{display: block; float: left; margin-right: 10px;}
.my_msg_list2 a{font: normal 13px 'Tahoma'; color: #7065a0; text-decoration: underline;}
.my_msg_list2 a:hover{font: normal 13px 'Tahoma'; color: #7065a0; text-decoration: none;}
.my_msg_list2 .lnk-name{margin: 0;font-size: 14px;}
.sh-block {background: #F0E7F5; position: relative;}
.sh-block:nth-child(odd) {background: #FDFADD; position: relative;}
span.date-kabexp{color: #6C6C6C; font: normal 11px 'Tahoma'; display: inline-block; *display:inline; margin: 0 0 0 10px;}
.msg-list2-title{width: 630px; background: #dedcf7; font: normal 13px/34px "Tahoma"; color: #333; padding-left: 12px; margin: 0 0 2px 0;}
.mymess2 {float: left; width: 622px; padding: 7px 10px 10px; margin: 0 0 5px;}    
p.msg-txt{display: block; width: 500px; float: left;}

.big-wrap{width: 635px;}




/* !!!! Мои статьи !!!! */


.statis{width: 638px;}
.statis .submit1{background: url(../images/kab_eksp_sub1.jpg) 0 0 repeat-x; font:normal 12px 'Tahoma'; color: #fff; border-radius: 4px; border-style: none; padding: 0 12px; height: 23px; width: 137px; cursor: pointer; margin: 0 0 8px 0;}

.statis .std-table{border-radius: 3px 3px 0 0; color: #666; text-align: center; width: 100%; border-collapse: collapse; font:normal 13px 'Tahoma'; color: #6c6c6c;}
.statis .std-table th{background:url(../images/kabexp_sep.jpg) 0 50% no-repeat #d1e999; padding: 18px 0; width: 180px;}
.statis .std-table th:first-child{background: #d1e999;}
.statis .std-table th.last{width: 70px;}
.statis .std-table tr{border-bottom: dashed 1px #ccc8dd;}
.statis .std-table tr:first-child{border-bottom: none;}
.statis .std-table td{ padding: 7px 0 7px 5px;}
.statis .std-table td:first-child{text-align: left;}
.statis .std-table a{color: #7065a0; text-decoration: none;}
.statis .std-table a:hover{text-decoration: underline;}

.sortbox {background: #dedcf7; color: #5b5b5b; float: left; padding: 10px 0; width: 100%; margin: 0 0 30px 0;}

/* ПОСТРАНИЧНАЯ НАВИГАЦИЯ */
.pagination {float: left; width: 100%; font: 13px Arial; color: #5c538f; text-align: center;}
.pagination a {color: #c864ad; text-decoration: none;}
.pagination span, .pagination a {margin: 0 5px;}
.pagination a.prev {color: #5c538f; background: url(../images/prev.png) no-repeat; padding: 0 12px 3px 22px; margin: 0;}
.pagination a.next {color: #5c538f; background: url(../images/next.png) no-repeat; padding: 0 22px 3px 10px; margin: 0;}

.cab_exp{float:left; width:100%;}
.cab_exp p{font: normal 12px Tahoma; color: #3f3f3f; padding:0 30px;}
.cab_exp select{margin: 15px 0 30px 0px; float: left;}

table.my_stat{width:620px;background:#e5f1f4; border:solid 1px #fff; border-spacing:0;
	font:normal 13px/27px Tahoma, Geneva, sans-serif; color: #3f3f3f; text-align:center; margin:10px 0 25px 0px;}
table.my_stat th{background:url(../images/adm_th.jpg) 0 0 repeat-x #4c99c5; border:solid 1px #fff; font:normal 13px/27px Tahoma, Geneva, sans-serif; color:#fff;}
table.my_stat td{border:solid 1px #fff; text-align: center; padding-left: 10px;}
table.my_stat tr td:first-child{padding-left: 5px;}

div.summary{color: #23a112; margin: 10px 0 0px 35px; float: right; text-align: right;}


h1.z-title{font: 22px Trebuchet MS, Arial; color: #c864ad; margin: 0 0 10px 0; padding: 0 0 10px 20px; border-bottom: 1px dashed #CCC8DD;}

aside.leftSide{display: block; float: left; width: 295px; margin: 15px 0 8px 15px;}
div.z-exp{background:url(../images/z-exp-bg.jpg) 0 0 repeat-x; border-radius: 2px; height: 56px; width: 100%; border-left: solid 1px #f7ec8b; border-bottom: solid 1px #f7ec8b; padding: 10px 0; margin: 0 0 10px 0;}
div.z-exp img{border: solid 2px #ededed; float: left; margin: 0 20px 0 12px;}
div.z-exp span.name{font: normal 15px 'Arial'; color: #65178e;}
div.z-exp span.online{background:url(../images/online1.png) 0 50% no-repeat; font: normal 11px 'Arial'; color: #639b0d; padding: 0 0 0 20px;}
div.z-exp span.not-online{background:url(../images/online2.png) 0 50% no-repeat; font: normal 11px 'Arial'; color: #f7ec8b; padding: 0 0 0 20px;}
div.z-exp span.offline{background:url(../images/offline.png) 0 50% no-repeat; font: normal 11px 'Arial'; color: #f7938b; padding: 0 0 0 20px;}

div.z-menu-left{background:#fbf4fb; border: solid 1px #f3e2f7; border-radius: 3px;}
div.z-menu-left ul{margin: 24px 60px; padding: 0; list-style: none;}
div.z-menu-left ul li.a1{display: block; background: url(../images/exp-nav-01.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a1:hover{background: url(../images/exp-nav-01-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a2{display: block; background: url(../images/exp-nav-02.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a2:hover{background: url(../images/exp-nav-02-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a3{display: block; background: url(../images/exp-nav-03.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a3:hover{background: url(../images/exp-nav-03-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a4{display: block; background: url(../images/exp-nav-04.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a4:hover{background: url(../images/exp-nav-04-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a5{display: block; background: url(../images/exp-nav-05.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a5:hover{background: url(../images/exp-nav-05-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a6{display: block; background: url(../images/exp-nav-06.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a6:hover{background: url(../images/exp-nav-06-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a7{display: block; background: url(../images/exp-nav-07.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a7:hover{background: url(../images/exp-nav-07-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a8{display: block; background: url(../images/exp-nav-08.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a8:hover{background: url(../images/exp-nav-08-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li.a9{display: block; background: url(../images/exp-nav-09.png) 0 50% no-repeat; padding: 0 0 0 27px;}
div.z-menu-left ul li.a9:hover{background: url(../images/exp-nav-09-hov.png) 0 50% no-repeat;}
div.z-menu-left ul li a{display: block; border-bottom: dotted 1px #615f61; padding: 8px 0; font: normal 13px 'Arial'; color: #8b8b8b; text-decoration: none;}
div.z-menu-left ul li a:hover{color: #be5cd7;}


.tab-container {
	width: 600px;
	background: #EFEFEF;
	margin: 0 0 55px;
}
ul.tabs {
	height: 36px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #d1e999;
	background: #FFF;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 4px -1px 0;
	padding: 10px 13px;
	color: #5c5c5c;
	cursor: pointer;
	background: #d7d7d7;
	border-radius: 3px 3px 0 0;
	position: relative;
	font: normal 13px 'Tahoma';
}
.tabs li.current {
	color: #444;
	background: #d2ea99;
	padding: 10px 13px;
}
.box {
	display: none;
	background: #fff;
	border-top: solid 1px transparent;
}
.box.visible {
	display: block;
}
div.marg-top{margin-top: 0;}

.section.vertical {
	width: 440px;
	border-left: 160px solid #FFF;
}
.vertical .tabs {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs li:hover {
	width: 131px;
}
.vertical .tabs li.current {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}

.text {
	float: right;
	width: 300px;
}

table.z-order{width: 100%; margin: 5px 0 0 0; border-collapse: collapse; text-align: left; font: normal 13px 'Tahoma'; color: #6c6c6c;}
table.z-order th{background: url(../images/order-table-sep.jpg) 0 50% no-repeat #d2e999; text-align: center; font: normal 14px 'Tahoma'; color: #5c5c5c; padding: 15px 5px;}
table.z-order th:first-child{border-radius: 3px 0 0 0; background: #d2e999;}
table.z-order th.last{border-radius: 0 3px 0 0;}
table.z-order tr{border-bottom: dashed 1px #ccc8dd;} 
table.z-order tr:first-child{border-bottom: none;}
table.z-order td{padding: 10px 5px;}
table.z-order span.z-name{color: #7065a0;}
table.z-order span.z-duration{padding: 0 0 0 15px;}
table.z-order a.z-inactive{color: #cac5e3;}
table.z-order a{color: #7065a0;}
table.z-order span.z-done{color: #006600;}
table.z-order span.z-cancel{color: #cc0000;}
table.z-order span.z-waiting{color: #ff9900;}
table.z-order [type="text"].z-filter{border: solid 1px #e4e4e4; border-radius: 3px; font: normal 13px 'Tahoma'; color: #5c5c5c; padding: 5px 5px; box-shadow: inset 0 5px 4px 0 #f2f2f2; outline: none; width: 125px;}

.expert-chat-available {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}
.expert-chat-available-chb {
  margin-top: 5px;
}
.expert-chat-available label {
  display: inline-block;
  font-family: tahoma;
  font-size: 12pt;
  margin-bottom: 10px;
}
.container_detail table tr{
	border: 1px solid #cecece;
}
.container_detail table tr.odd{
	background-color: #cecece;
}
.astrology{width: 50%;}
.astrology a{
	margin-top: 7px;
	text-decoration: none;
	color: blue;
	font: 12px "tahoma";
	font-weight: bold;
	display: inline;
}
.astrology :last-child{
	color: red;
}