/* 
    Created on : 27.01.2014, 9:57:05
    Author     : stitch
*/
#faq h1{
  border-bottom: 1px dashed #CCC8DD;
  color: #C864AD;
  font: bold 18px Trebuchet MS,Arial;
  margin: 0 0 20px;
  padding: 0 0 10px 10px;
  text-transform: uppercase;
}
.faq .ttl {
  /*background: url("../images/clock.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);*/
  color: #C864AD;
  font: 20px Trebuchet MS,Arial;
  height: 32px;
  margin: 0 40px 3px;
  padding: 45px 0 0;
  text-transform: uppercase;
}
.chavo-groups{
    font-weight: normal !important;
}
.faq h3, .faq h3[id^="faq-g-"],
.faq .ui-accordion-header{
    font-weight: normal;
    font-size: 16px;
}
#faq .ui-state-default .ui-icon {
  background-image: url("faq/images/ui-question.png");
}
#faq .ui-icon-circle-arrow-e,
#faq .ui-icon-circle-arrow-s{
  background-position: 0;
}
.faq-separator {
  border-bottom: 1px dashed #CCC8DD;
  height: 1px;
  margin: 0 0 20px;
  width: 100%;
}
.faq .ui-state-default, 
.faq .ui-widget-content .ui-state-default,
.faq .ui-widget-header .ui-state-default {
  color: #611486;
}
.faq .ui-state-default, 
.faq .ui-widget-content .ui-state-default, 
.faq .ui-widget-header .ui-state-default {
  background-color: #A4131A5;
}