/* 
    Created on : 09.12.2013, 12:11:05
    Author     : stitch
*/
.chat-container {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}
.chat-expert-container {
  /*border-bottom: 1px dashed #C0B6B6;*/
  height: 77px;
  width: 100%;
}
.chat-history-container {
  border: 1px solid #A0A0E6;
  border-radius: 5px;
  height: 400px;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.chat-module {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.chat-container > a:first-child {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.chat-message-sender-container {
    border-top: 1px dashed #C0B6B6;
    /*height: 195px;*/
    width: 100%;
}
.chat-expert-container > img {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.chat-expert-container > a {
    display: inline-block;
    float: left;
}
/*Stars*/
#raiting_blank, #raiting_votes, #raiting_hover {
    height: 16px;
    position: absolute;
}
#raiting_hover {
    background: url("/images/vote/ratings.png") repeat scroll 0 -32px rgba(0, 0, 0, 0);
    display: none;
}
#raiting_blank {
    background: url("/images/vote/ratings.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 83px;
}
#raiting_votes {
    background: url("/images/vote/ratings.png") repeat scroll 0 -16px rgba(0, 0, 0, 0);
}
div.raiting_star {
    height: 16px;
    position: relative;
}
.chat-expert-data {
    height: 100%;
    margin-left: 90px;
}
.chat-expert-name {
    font-family: Times New Roman;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.stat {
    color: #639B0D;
    margin-left: 20px;
}
.raiting_info {
    margin-left: 93px;
}
.short, div.raiting_star {
    float: left;
}
.short, 
div.raiting_star{
    width: 200px;
    display: inline-block;
}
.chat-left-minutes, .chat-booked-minutes {
    margin-right: 10px;
    text-align: right;
}
.chat-msg-canvas {
  border-radius: 5px;
  height: 95%;
  margin-bottom: 15px;
  overflow: auto;
  width: 100%;
}
.msg-container, .msg-container-last {
    padding-left: 10px;
    padding-right: 15px;
}
.msg-name {
    float: left;
    height: 20px;
    overflow: hidden;
    width: 150px;
}
.msg- {
    float: left;
    width: 460px;
}
.msg-body {
    float: left;
    width: 420px;
}
.msg-time {
    text-align: right;
    width: 100%;
}
.msg-row {
    padding-bottom: 5px;
}
.chat-history {
    margin: 5px 0;
    text-align: center;
}
.chat-history a {
    text-decoration: none;
}
.msg-container-last {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    position: absolute;
    display: none;
}
textarea.chat-new-msg {
    border: 3px solid #D1B225;
    display: inline-block;
    margin: 20px 25px;
    max-width: calc(100% - 57px);
    max-width: -moz-calc(100% - 57px);
    max-width: -webkit-calc(100% - 57px);
    min-height: 100px;
    min-width: calc(100% - 57px);
    min-width: -moz-calc(100% - 57px);
    min-width: -webkit-calc(100% - 57px);
    max-height: 200px;
}
.chat-buttons > div {
    width: 150px;
    display: inline-block;
}
.chat-buttons {
    margin-bottom: 10px;
    padding: 0 30px;
    text-align: center;
}
.chat-button-load-photo {
    margin: 0 65px;
}
.audiojs{
    display: none;
}
.available-chat-tpl {
  background: url("../../../../images/transp1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  /*border: 3px solid;*/
  border-radius: 0 0 8px 8px;
  color: #FFFFFF;
  font: 13px Arial;
  height: 30px;
  padding: 6px 15px 10px 20px;
  position: absolute;
  top: 0;
}
.msg-date {
  background: url("../../../../images/little_clock.png") no-repeat scroll 0 center, none repeat scroll 0 center rgba(0, 0, 0, 0);
  border-bottom: 1px solid #D1D1D1;
  border-top: 1px solid #D1D1D1;
  font-weight: 700;
  margin: 10px 0 10px 155px;
  padding: 3px 19px;
}

/*Новая форма*/
.chat-new-msg-form {
  background-color: #E4DEDE;
  border-radius: 5px;
  height: 70px;
  padding: 20px 0 20px 10px;
}
.chat-new-msg-2 {
  background-color: #FFFFFF;
  border: 2px solid #B8B5B5;
  border-radius: 4px;
  display: inline-block;
  font-size: 25px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  padding-left: 25px;
  width: 74%;
  min-width: 74%;
  max-width: 74%;
}
.chat-new-msg-2:focus{
    font-size:13px;
    padding-left: 1px;
    padding-right: 31px;
}

#chat-button-send > button {
  background-color: #CAC8C8;
  border-radius: 4px;
  border-style: none;
  color: #7E7777;
  font-size: 18px;
  height: 65px;
  width: 105px;
}
.chat-button-send-2 {
  display: inline-block;
}
.chat-button-stop-2 {
  display: inline-block;
  float: right;
  margin-right: 170px;
  margin-top: 15px;
}
.chat-button-load-photo-2 {
  display: inline-block;
  margin-left: 170px;
  margin-top: 15px;
}
.chat-buttons-2 a {
  color: #4C7193;
  font-size: 18px;
  text-decoration: none;
  text-transform: lowercase;
}
/*конец Новая форма*/

/* User cart */
.cc-photo {
  display: inline-block;
  float: left;
  height: 100%;
  margin: 0 10px;
}
.cc-photo > img {
  margin-top: 30px !important;
}
.cc-data-container {
  display: inline-block;
  height: 100%;
  width: 400px;
}
.cc-data-title {
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.cc-data-body > div {
  height: 30px;
}
.cc-data-body {
  padding-left: 30px;
}
.cc-data-body > div > span {
    border-bottom: 1px dotted;
    display: inline-block;
    width: 150px;
}
.item-quest {
  margin-bottom: 24px;
}
/* End of user cart*/
table.extra-mail-table tr th.second {
  width: 180px;
}
.tab-container {
  width: 635px;
}

.expert-chat-available {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}
.expert-chat-available-chb {
  margin-top: 5px;
}
.expert-chat-available label {
  display: inline-block;
  font-family: tahoma;
  font-size: 12pt;
  margin-bottom: 10px;
}
.msg-name{
    font-weight: 600;
}
.msg-name.color-expert,
.chat-history a{
    color: #7065A0;
}
.chat-available > a {
  color: #A98FC0;
  margin-left: 15px;
  text-decoration: none;
}
.chat-available {
  margin-top: 2px;
}
