/* 
    Created on : 25.11.2013, 15:06:46
    Author     : stitch
*/
#callbackform {
    height: 260px;
    margin: 0 auto;
    width: 550px;
}
.cbf-header span {
    margin-left: 20px;
}
.cbf-header span:first-child {
    font-size: 26px;
    margin-right: 20px;
}
.cbf-header {
  background-color: #A55DC1;
  border: 1px solid #A55DC1;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
.cbf-textcontainer {
    border-bottom: 1px solid #686868;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    border-top: 1px solid #a55dc1; 
    text-align: center;
    width: 100%;
}
.cbf-text {
    border: 4px solid #D3D3D3;
    float: none;
    height: auto;
    margin: 12px 0 0;
    max-height: 150px;
    max-width: 95%;
    min-height: 70px;
    min-width: 95%;
    padding: 0;
    width: 85%;
}
.cbf-btn {
  margin: 10px auto;
}
#cbf-btn > a {
  color: #A431A6;
}