/* 
    Created on : 09.12.2013, 12:11:05
    Author     : stitch
*/
.chat-container {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}
.chat-expert-container {
  border: 1px solid #FF0000;
  height: 100px;
  width: 100%;
}
.chat-history-container {
  border: 1px solid #008000;
  height: 500px;
  width: 100%;
}
.chat-module {
    border: 1px solid;
    display: block;
    height: 800px;
    width: 100%;
}
.chat-message-sender-container {
  border: 1px dotted #2353DB;
  height: 195px;
  width: 100%;
}
