@charset "UTF-8";
/*
 * mopTip 2.1
 * By Hiroki Miura (http://www.mopstudio.jp)
 * Copyright (c) 2008 mopStudio
 * Licensed under the MIT License: http://www.opensource.org/licenses/mit-license.php
 * July 10, 2009
*/

#mopTip01 {
	position: absolute;
	/*display: none;*/
	z-index: 1010;
	font-size: 3px;
}
#mopTip01 .tip {
	vertical-align: top;
	background-color: #FFFFFF;
}
#mopTip01 .content {
	padding: 4px;
	font-size: 11px;
	cursor:default;
	line-height:1.5em;
}
#mopTip01 .leftTop {
	font-size: 3px;
	height: 20px;
	width: 20px;
	background-image: url(/images/moptip/leftTop.png);
	background-repeat: no-repeat;
}
#mopTip01 .rightTop {
	font-size: 3px;
	width: 20px;
	background-image: url(/images/moptip/rightTop.png);
	background-repeat: no-repeat;
}
#mopTip01 .leftBottom {
	font-size: 3px;
	height: 20px;
	width: 20px;
	background-image: url(/images/moptip/leftBottom.png);
	background-repeat: no-repeat;
}
#mopTip01 .rightBottom {
	font-size: 3px;
	background-image: url(/images/moptip/rightBottom.png);
	background-repeat: no-repeat;
}
#mopTip01 .arrow {
	height: 20px;
	width: 60px;
	background-image: url(/images/moptip/arrowTop.png);
	background-repeat: no-repeat;
}
#mopTip01 .arrowBottom {
	height: 20px;
	width: 60px;
	background-image: url(/images/moptip/arrowBottom.png);
	background-repeat: no-repeat;
}
#mopTip01 .left {
	font-size: 3px;
	width: 20px;
	background-image: url(/images/moptip/left.png);
	background-repeat: repeat-y;
	background-position: top;
}
#mopTip01 .right {
	font-size: 3px;
	width: 20px;
	background-image: url(/images/moptip/right.png);
	background-repeat: repeat-y;
}
#mopTip01 .top {
	background-image: url(/images/moptip/top.png);
	background-repeat: repeat-x;
}
#mopTip01 .bottom {
	background-image: url(/images/moptip/bottom.png);
	background-repeat: repeat-x;
}
#mopTip01 .close {
	font-size: 3px;
	position: absolute;
	height: 27px;
	width: 27px;
	cursor: pointer;
	background-image: url(/images/moptip/closeBtn.png);
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	display: none;
}
#mopTip01 .close:hover {
	background-image: url(/images/moptip/closeBtn_h.png);
	background-repeat: no-repeat;
}
#mopTip01 .arrowSet {
	font-size: 3px;
}
#mopTip01 .arrowSetBottom {
	font-size: 3px;
}
#t_moptip, #q_moptip {
  border: 1px solid #979797;
  color: #979797; 
  position: absolute;
  width: 300px;
  z-index: 1010;
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  background-color: #FFFFFF;
}
