/* 
    Created on : 30.11.2013, 18:19:45
    Author     : stitch
*/
.usercab_page {
    color: #7F7F7F;
    float: left;
    font: 13px Tahoma;
    margin: 0 0 30px 10px;
    width: 644px;
}
.usercab_page .head {
    border-bottom: 1px dashed #CCC8DD;
    float: left;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 100%;
}
table.extra-mail-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 635px;
}
table.extra-mail-table tr:first-child {
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
}
table.extra-mail-table tr th {
    background: none repeat scroll 0 0 #CFE899;
    color: #5C5C5C;
    font: 13px 'Tahoma';
    height: 52px;
    text-align: center;
}
table.extra-mail-table tr th.answer:first-child {
    border-radius: 3px 0 0 3px;
    width: 50px;
}

table.extra-mail-table tr th:first-child {
    border-radius: 3px 0 0 3px;
    width: 185px;
}

table.extra-mail-table tr th.second {
    width: 280px;
}
table.extra-mail-table tr th.last {
    border-radius: 0 3px 3px 0;
    width: 170px;
}
table.extra-mail-table tr {
    border-bottom: 1px dashed #CCC8DD;
}
table.extra-mail-table tr td {
    color: #666666;
    font: 13px 'Tahoma';
    padding: 11px 10px;
}
table.extra-mail-table a {
    color: #7065A0;
    font: 13px 'Tahoma';
    text-decoration: underline;
}
table.extra-mail-table tr td.last {
    text-align: center;
}
.extra-mail-table tr td:first-child {
  text-align: center;
}
.pagination {
    color: #5C538F;
    float: left;
    font: 13px Arial;
    text-align: center;
    width: 100%;
}
ul.yiiPager {
    border: 0 none;
    display: inline;
    font-size: 11px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}
.question-buttons a:first-child {
  margin-right: 10px;
}
div.flash-success-question {
  background-position: 10px 10px;
  border-color: #C6D880;
  color: #264409;
  margin-right: 20px;
}
div.flash-error-question {
  background-position: 10px 10px;
  border-color: #FBC2C4;
  color: #8A1F11;
  margin-right: 20px;
}