<ol>
    <li>
        <h3><a href="/">Экстрасенсы онлайн</a></h3>
        <ul>
            <li>
                <a href="/extrasens/olga-gadanie-na-taro-8" >Ольга</a></li>
            <li>
                <a href="/extrasens/valerija-bauehr-ehkstrasens-47" >Валерия Бауэр</a></li>
            <li>
                <a href="/extrasens/miriam-vidjashhaja-61" >Мириам</a></li>
            <li>
                <a href="/extrasens/aleksandr-ehkstrasens-64" >Александр</a></li>
            <li>
                <a href="/extrasens/svetlana-jasnovidjashhaja-3611" >Светлана</a></li>
            <li>
                <a href="/extrasens/arina-zima-tarolog-6" >Арина Зима</a></li>
            <li>
                <a href="/extrasens/ekaterina-vedunja-5" >Екатерина</a></li>
            <li>
                <a href="/extrasens/viktorija-tarolog-9" >Виктория</a></li>
            <li>
                <a href="/extrasens/diana-jasnovidjashhaja-33" >Диана</a></li>
            <li>
                <a href="/extrasens/natalija-tarolog-45" >Наталия </a></li>
            <li>
                <a href="/extrasens/ehvelina-predskazatelnica-3655" >Эвелина</a></li>
            <li>
                <a href="/extrasens/alisa-astrolog-3615" >Алиса</a></li>
            <li>
                <a href="/extrasens/massimo-avrelijj-vsevidjashhijj-3613" >Массимо Аврелий</a></li>
            <li>
                <a href="/extrasens/andrejj-professionalnyjj-astrolog-69" >Андрей</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/service">Услуги</a></h3>
        <ul>
            <li>
                <h4><a href="/service/4">Будущее</a></h4>
                <ul>
                    <li><a href="/service/magicheskijj-zashhitnyjj-amulet-28">Магический защитный амулет</a></li>
                    <li><a href="/service/snjatie-negativa-27">Снятие негатива</a></li>
                    <li><a href="/service/otvet-na-odin-ljubojj-vopros-24">Ответ на один любой вопрос</a></li>
                    <li><a href="/service/ispolnenie-i-vizualizacija-zhelanija-19">Исполнение и визуализация желания</a></li>
                    <li><a href="/service/tolkovanie-sna-11">Толкование сна</a></li>
                    <li><a href="/service/pravilnoe-formirovanie-zhelanijj-9">Правильное формирование желаний</a></li>
                </ul>
            </li>
            <li>
                <h4><a href="/service/5">Отношения</a></h4>
                <ul>
                    <li><a href="/service/astrologicheskijj-prognoz-sovmestimosti-vljublennykh-25">Астрологический прогноз совместимости влюбленных</a></li>
                    <li><a href="/service/vyjavlenie-navedennogo-negativa-8">Выявление наведенного негатива</a></li>
                    <li><a href="/service/vyjavlenie-prichiny-odinochestva-6">Выявление причины одиночества</a></li>
                    <li><a href="/service/vospolnenie-ehnergii-cheloveka-5">Восполнение энергии человека</a></li>
                    <li><a href="/service/ljubovnaja-sovmestimost-partnerov-po-date-rozhdenija-1">Любовная совместимость партнеров по дате рождения</a></li>
                </ul>
            </li>
            <li>
                <h4><a href="/service/6">Деньги</a></h4>
                <ul>
                    <li><a href="/service/astrologicheskijj-prognoz-finansovykh-del-26">Астрологический прогноз финансовых дел</a></li>
                    <li><a href="/service/denezhnaja-mantra-2">Денежная мантра</a></li>
                </ul>
            </li>
            <li>
                <h4><a href="/service/8">Здоровье</a></h4>
                <ul>
                    <li><a href="/service/recept-ochishhenija-zhilishha-23">Рецепт очищения жилища</a></li>
                </ul>
            </li>
            <li>
                <h4><a href="/sp/chavo">ЧаВо</a></h4>
            </li>
        </ul>
    </li>
    <li>
        <h3><a href="/horoscope">Гороскоп на сегодня</a></h3>
        <ul>
            <li><a href="/horoscope/index.html?zodiac=aries">Овен</a></li>
            <li><a href="/horoscope/index.html?zodiac=taurus">Телец</a></li>
            <li><a href="/horoscope/index.html?zodiac=gemini">Близнецы</a></li>
            <li><a href="/horoscope/index.html?zodiac=cancer">Рак</a></li>
            <li><a href="/horoscope/index.html?zodiac=leo">Лев</a></li>
            <li><a href="/horoscope/index.html?zodiac=virgo">Дева</a></li>
            <li><a href="/horoscope/index.html?zodiac=libra">Весы</a></li>
            <li><a href="/horoscope/index.html?zodiac=scorpio">Скорпион</a></li>
            <li><a href="/horoscope/index.html?zodiac=sagittarius">Стрелец</a></li>
            <li><a href="/horoscope/index.html?zodiac=capricorn">Козерог</a></li>
            <li><a href="/horoscope/index.html?zodiac=aquarius">Водолей</a></li>
            <li><a href="/horoscope/index.html?zodiac=pisces">Рыбы</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/dreams">Сонник</a></h3>
    </li>
    <li>
        <h3><a href="/gadanie-online">Онлайн-гадания</a></h3>
        <ul>  
            <li><a href="/divinations/kogda-ja-vyjjdu-zamuzh-brachnoe-gadanie-onlajjn-10">Когда я выйду замуж. Брачное гадание онлайн</a></li>
            <li><a href="/divinations/virtualnoe-gadanie-onlajjn-orakul-sudby-9">Виртуальное гадание онлайн "Оракул судьбы"</a></li>
            <li><a href="/divinations/gadanie-onlajjn-na-sovmestimost-po-znaku-zodiaka-8">Гадание онлайн на совместимость по знаку зодиака</a></li>
            <li><a href="/divinations/gadanie-onlajjn-na-zhelanie-7">Гадание онлайн на желание</a></li>
            <li><a href="/divinations/gadanie-na-kartakh-marselskoe-taro-6">Гадание на картах - "Марсельское ТАРО"</a></li>
            <li><a href="/divinations/gadanie-po-knige-peremen-i-czyn-5">Гадание по книге перемен И-Цзын</a></li>
            <li><a href="/divinations/onlajjn-gadanie-strela-sudby-4">Онлайн гадание "Стрела судьбы"</a></li>
            <li><a href="/divinations/onlajjn-gadanie-po-knige-sudeb-3">ОНЛАЙН ГАДАНИЕ ПО КНИГЕ СУДЕБ</a></li>
            <li><a href="/divinations/onlajjn-gadanie-egipetskijj-orakul-2">Онлайн гадание Египетский оракул</a></li>
            <li><a href="/divinations/onlajjn-gadanie-na-kartakh-chto-bylo-chto-est-chto-budet-1">Онлайн гадание на картах "Что было, что есть, что будет"</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/vopros-ekstrasensu">Задать вопрос</a></h3>
        <ul>
            <li><a class="link" href="/question/viewArea/Ljubovnye-otnoshenija-1">Любовные отношения</a></li>
            <li><a class="link" href="/question/viewArea/Sovmestimost-partnerov-2">Совместимость партнеров</a></li>
            <li><a class="link" href="/question/viewArea/znachenie-sna-3">Значение сна</a></li>
            <li><a class="link" href="/question/viewArea/ispolnenie-zhelanij-zadat-vopros-4">Исполнение желаний</a></li>
            <li><a class="link" href="/question/viewArea/uspeh-v-biznese-5">Успех в бизнесе</a></li>
            <li><a class="link" href="/question/viewArea/uznat-budushhee-zadat-vopros-gadalke-6">Узнать будущее</a></li>
            <li><a class="link" href="/question/viewArea/izmena-i-odinochestvo-7">Измена и одиночество</a></li>
            <li><a class="link" href="/question/viewArea/karty-taro-zadat-vopros-8">Карты Таро</a></li>
            <li><a class="link" href="/question/viewArea/ljubovnyj-privorot-9">Любовный приворот</a></li>
            <li><a class="link" href="/question/viewArea/ehkstrasens-online-10">Экстрасенсы онлайн</a></li>
            <li><a class="link" href="/question/viewArea/semejnye-otnoshenija-12">Семейные отношения</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/site/contact">Контакты</a></h3>
    </li>
</ol>
<style type="text/css">
    .full-ui ol li ul {
        margin-left: 20px;
    }
    .full-ui a {
        color: #A852CA !important;
        text-decoration: underline;
    }
    .full-ui h1, .full-ui h4, .full-ui h3 {
        color: #611486;
    }
    .full-ui h3 a, .full-ui h4 a {
        color: #611486 !important;
        text-decoration: none;
    }
</style>